// vendors import
//@import 'sassy-gridlover/main';

//importa il file con l'header per far funzionare il tema in WP
@import 'wp-header';

// FUNCTIONS & PROJECT CONFIGURATION
@import 'helpers/functions';
@import 'config/typography';
@import 'config/colors';
@import 'config/layout';
@import 'helpers/mixins';

// BASE ELEMENTS
@import 'base/resets';
@import 'base/typography';
@import 'base/images';

// TIPI DI HEADER
@import 'elements/header/logo-over-nav';
//@import 'elements/header/logo-side-nav';

//MAIN NAVIGAZIONE
@import 'elements/header/main-nav';

// ELEMENTI
@import 'elements/layout/main-layout';
@import 'elements/layout/sezioni-fw';
@import 'elements/layout/footer';
@import 'elements/tables';
@import 'elements/widgets';
@import 'elements/buttons';
@import 'elements/forms';
@import 'elements/boxes';
@import 'elements/icons';

// PORTFOLIO
@import 'elements/portfolio/portfolio-list';
@import 'elements/portfolio/portfolio-single';


// BLOG SINGLE
@import 'elements/blog/single-big';

// BLOG LIST
@import 'elements/blog/list-big';
