// vendors import
//@import 'sassy-gridlover/main';

//importa il file con l'header per far funzionare il tema in WP
@import 'wp-header';

// FUNCTIONS & PROJECT CONFIGURATION
@import 'helpers/functions';
@import 'config/typography';
@import 'config/colors';
@import 'config/layout';
@import 'helpers/mixins';

// BASE ELEMENTS
@import 'base/resets';
@import 'base/typography';
@import 'base/images';

// HEADER
@import 'elements/header/header-main';
@import 'elements/header/top-area';

//MAIN NAVIGAZIONE
@import 'elements/header/main-nav';

//HEADER MOBILE
@import 'elements/header/mobile-header';

// ELEMENTI
@import 'elements/layout/main-layout';
@import 'elements/layout/footer';
@import 'elements/layout/intro-section';
@import 'elements/tables';
@import 'elements/widgets';
@import 'elements/buttons';
@import 'elements/forms';
@import 'elements/pages';
@import 'sass/elements/testimonial';

//DIVI
@import 'divi/divi.scss';

// PORTFOLIO
@import 'elements/portfolio/portfolio-list';
@import 'elements/portfolio/portfolio-single';


// BLOG SINGLE
@import 'elements/blog/list-1col';
@import 'elements/blog/single';

//WIDGET & SIDEBAR
@import 'elements/layout/sidebar';
