//****************************************************************************//
//*                                                                          *//
//*                             Box vari
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//

//****************************************************************************//
//                            BOX TOP ICON
//****************************************************************************//

/*
 * Layout iconbox top icon
 */
.iconbox_top .iconbox_content {
  padding: bpad(0) 2em;
  border: 0px solid;
}



/*
 * Iconbox Title
 */

.iconbox_top .iconbox_content .iconbox_content_title {
  @include size(h3);
}

/*
 * Colori iconbox top icon
 */
@each $palette, $bg in $colors {
  .#{$palette}_color .main_color.iconbox_top {

    .iconbox_icon {
      background-color: palette($palette, accent-alt);
      color: white;
    }

    .iconbox_content {
      background: palette($palette, bg-alt);
      border-color: palette($palette, border);

      p {
        color: palette($palette, body-alt);
      }

      blockquote {
        color: palette($palette, body-alt);
        border-color: palette($palette, accent-alt)
      }

      a {
        color: palette($palette, accent-alt);
      }
    }
  }
}
