//***********************************************************************//
//*                                                                     *//
//*                             I BOTTONI
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//


/*
 * Evitiamo che i bottoni con le icone siano diversi da quelli senza icone
 */
.avia-button .avia_button_icon,
#top .avia_cart_buttons .button > span {
  line-height:0;
}

/*
 * Fix font-size dei bottoni in pagine woocommerce
 */
.woocommerce-page .button,
.cart_dropdown .dropdown_widget .widget_shopping_cart_content p {
  font-size:1em;
}

//***********************************************************************//
//                              BOTTONI ENFOLD - Dimensioni
//***********************************************************************//

.avia-button.avia-size-small {
  @extend %button;
  @include button-small;
}

.avia-button.avia-size-medium {
  @extend %button;
  @include button-medium;
}

.avia-button.avia-size-large {
  @extend %button;
  @include button-large;
}

.avia-button.avia-size-x-large {
  @extend %button;
  @include button-x-large;
}

//****************************************************************************//
//                         BOTTONI ENFOLD - COLORI
//                  include anche i colori dei bottoni di gravity pare
//****************************************************************************//

@each $palette, $var-color in $colors {
    #top .#{$palette}_color .avia-button.avia-color-theme-color,
    div .#{$palette}_color .button {
      @include button-color;

      &:hover {
        @include button-color(hover);
      }
    }
}

#top .socket_color.av-flex-cells .avia-button.avia-color-theme-color { //PJRL
  background: rgba(palette(socket,body), 0.75);
  border-color: rgba(palette(socket,body), 0.1);
  border-radius: 0;
  color: palette(socket,body-alt);
  text-transform:uppercase;

  &:hover {
    background: rgba(palette(socket,body), 0.95);
    border-color: rgba(palette(socket,body), 0.1);
  }
}
