//***********************************************************************//
//*                                                                     *//
//*                             I BOTTONI
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//


/*
 * Evitiamo che i bottoni con le icone siano diversi da quelli senza icone
 */
.test-rule,
.avia-button .avia_button_icon,
#top .avia_cart_buttons .button > span {
  line-height:0;
}

/*
 * Fix font-size dei bottoni in pagine woocommerce
 */
.woocommerce-page .button,
.cart_dropdown .dropdown_widget .widget_shopping_cart_content p {
  font-size:1em;
}

//***********************************************************************//
//                              BOTTONI ENFOLD - Dimensioni
//***********************************************************************//

.avia-button.avia-size-small {
  @extend %button;
  @include button(h5, 1);
}

.avia-button.avia-size-medium {
  @extend %button;
  @include button(p, 2);

  text-transform: uppercase;
  font-weight:600;
  letter-spacing: 2px;
}

.avia-button.avia-size-large {
  @extend %button;
  @include button-lh(h3, 4)

  margin-bottom: font-size(h3, lh) / 4;
  text-transform: uppercase;
}

.avia-button.avia-size-x-large {
  @extend %button;
  @include button(h2, 6, half);

  text-transform: uppercase;
}

//****************************************************************************//
//                         BOTTONI ENFOLD - COLORI
//                  include anche i colori dei bottoni di gravity pare
//****************************************************************************//

@each $palette, $bg in $colors {
  #top .#{$palette}_color .avia-button.avia-color-theme-color,
  div .#{$palette}_color .button {
    @include button-color;

    &:hover {
      @include button-color(hover);
    }
  }
}

.test-rule.bottom {

}
