//****************************************************************************//
//*                                                                     ******//
//*                    LAYOUT FOOTER
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
