// Top Bar Baground Color
#top #header_meta {
  background-color:#ededeb;
  line-height:$line-height;
}

#top .social_bookmarks li a {
  line-height:$line-height;
  width:$line-height;
}

.phone-info {
  padding:0;
}
