//****************************************************************************//
//*                                                                          *//
//*                             ICONE VARIE
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//

//****************************************************************************//
//                            ICON LIST
//****************************************************************************//
/*
 * Main color
 */
.main_color .avia-icon-list .iconlist_icon {
  background: palette(main, accent-alt);
  color: palette(main, background);
}



/*
 * Header color
 */
.header_color .avia-icon-list .iconlist_icon {
  background: palette(header, bg-alt);
  color: palette(header, accent);
}



/*
 * Socket color
 */
.socket_color .avia-icon-list .iconlist_icon {
  background: palette(socket, bg-alt);
  color: palette(socket, accent);
}



/*
 * Footer color
 */
.footer_color .avia-icon-list .iconlist_icon {
  background: palette(footer, bg-alt);
  color: palette(footer, accent);
}



/*
 * Alternate color
 */
.alternate_color .avia-icon-list .iconlist_icon {
  background: palette(alternate, bg-alt);
  color: palette(alternate, accent);
}
