///
// Padding sopra tutto il main-title
///
.html_header_top.html_header_topbar_active.html_header_sticky.html_bottom_nav_header #top #main { //TOCHK
  padding-top: ($line-height * 8) + $half-line; //TODO

  @include respond-to(step-2) {
    padding-top: ($line-height * 5) + $half-line; //TODO
  }
}

///
// Margine Sopra Sidebar e contenuto
///
.content,
.sidebar {
  padding-top: $block-v-space;
  padding-bottom: $block-v-space;
}

///
// Bordi Generali sezioni FW
///
.container_wrap {
  border-top-width:0px;
}


///
// Margini Colonne
///
body .column-top-margin {
  margin-top: $line-height * 2;
}
