//****************************************************************************//
//                               SEZIONI FW
//****************************************************************************//
/*
 * Bordi Generali sezioni FW
 */
.container_wrap {
  border-top-width:0px; //TODO
}

/*
 * Sezioni FW no Margin //TOCR
 */
#top div .no_margin {

}

#top div .no_margin.first {
  margin-left:0;
}



//****************************************************************************//
//                               FLEX CELLS
//****************************************************************************//
.flex_cell {
  padding-top: $line-height * 4;
  padding-bottom: $line-height * 4;
//  position: relative; // se voglio overlay automatico

/*
 * Overlay
 */
//  &::before {
//    @include color-overlay(palette(socket, overlay));
//  }


///
// Bordi delle Flex Cells
///
//  &.el_before_av_cell_one_half {
//    border-right:8px solid;

//    @include respond-to(step-3) { border-right: 0;  border-bottom: 8px solid;}
//  }
//
//  &.el_after_av_cell_one_half {
//    border-left:8px solid;
//
//    @include respond-to(step-3) { border-left: 0;} //TODO
//  }
}
