
//****************************************************************************//
//*                                                                     ******//
//*                   STILI WIDGET
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//


.flex_column .widget .widgettitle,
.content .widget .widgettitle {
  margin-top: $line-height;
}
