//***************************************************************************//
//*                                                                     *****//
//*                              PORTFOLIO SINGOLO
//*
//*                                                                         *//
//***************************************************************************//

.single-portfolio {
  #feature {
    h1 {
      @include font(h1sm, $fm: primary);

    @include breakpoint-max() {
        @include m-size(h2);
      }
    }
  }
  #comments {
    max-width: $website-width / 2;
    margin: 0 auto;
    padding-bottom: $line-height * 3;
  }
}
