/**********************************************************************************************************************/
/** ELEMENTOR INTERFACE FIXES
/**********************************************************************************************************************/
/*
 * Spazio il primo row dell'editor
 */
.elementor-editor-active .elementor-inner {
  margin-top: 0;
}


/*
 * Colore comandi su pagina
 */
#page .elementor-editor-element-settings a {
  color: white;
  text-decoration: none;
}

/*
 * Spaziatura comandi su pagina
 */
#main ul.elementor-editor-element-settings-list {
  margin-left: 0;
  margin-bottom: 0;
}


/*
 * Tolgo il Margine dalle Sezioni
 */
.elementor-editor-active .elementor.elementor-edit-mode .elementor-top-column .elementor-widget-wrap .elementor-inner-section {
  margin-top: 0;
}


.elementor-edit-mode .elementor-section-wrap.ui-sortable {
  &> #intro {

    &> .elementor-element-overlay {
      z-index: 9999999999;
      margin-top: $line-height * 4;
    }
  }
}
