

///
// Impostazioni BG SEZIONE
///
.elementor-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


///
// LOOP COLORI
///
@each $palette, $sections in $colors {
  .#{$palette},
  .elementor-section.#{$palette} {
    background-color: palette($palette, bg);
  }
}




/**********************************************************************************************************************/
/** LAYOUT - PADDING LATERALI
/**********************************************************************************************************************/

////
// Larghezza Contenuto
///
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: $container-width;
}


///
// CONTAINER NESTATI - OVERFLOW PADDING LATERALE
///
.elementor-section .elementor-container {
  .elementor-section .elementor-container {
    margin-left: -$line-height;
    margin-right: -$line-height;
  }
}


////
// Padding Laterale delle Colonne
// Lo uso sempre uguale in tutti gli step
// per le più larghe (WIDE e WIDER) paddo gli elementi interni
///
.elementor-column-gap-no,
.elementor-column-gap-narrow,
.elementor-column-gap-default,
.elementor-column-gap-extended,
.elementor-column-gap-wide,
.elementor-column-gap-wider {

  &> .elementor-row > .elementor-column > .elementor-column-wrap,
  &> .elementor-row > .elementor-column > .elementor-column-wrap.elementor-element-populated {
    padding-right: $line-height;
    padding-left: $line-height;
    padding-top: 0;
    padding-bottom: 0;
  }
}

///
// Padding laterali sui widget delle colonne WIDE
// Non paddo la colonna, ma il suo contenuto
///
.elementor-column-gap-wide {

  .elementor-widget-wrap {
    padding: 0 $line-height;
  }
}

//Allineo i margini nella prima e ultima colonno
.elementor-column-gap-wide .elementor-row {

  .elementor-column:first-child .elementor-widget-wrap {
    margin-left: -$line-height;
  }

  .elementor-column:last-child .elementor-widget-wrap {
    margin-right: -$line-height;
  }
}


///
// Padding laterali sui widget delle colonne WIDER
// Non paddo la colonna, ma il suo contenuto
///
.elementor-column-gap-wider {
  .elementor-widget-wrap {
    padding: 0 $line-height * 2;
  }
}

//Allineo i margini nella prima e ultima colonno
.elementor-column-gap-wider .elementor-row {

  .elementor-column:first-child .elementor-widget-wrap {
    margin-left: -$line-height * 2;
  }

  .elementor-column:last-child .elementor-widget-wrap {
    margin-right: -$line-height * 2;
  }
}


////
// Su TABLET / SMALL DESKTOP resetto i padding laterali e imargini laterali delle colonne WIDE e WIDER
////
@include breakpoint-max(xl) {
  .elementor-column-gap-wide,
  .elementor-column-gap-wider {

    .elementor-row {
      .elementor-column .elementor-widget-wrap,
      .elementor-column:first-child .elementor-widget-wrap,
      .elementor-column:last-child .elementor-widget-wrap {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

/**********************************************************************************************************************/
/** LAYOUT - PADDING VERTICALI
/**********************************************************************************************************************/
////
// Padding Verticale - stretta
// Il padding va sul CONTAINER
////
.elementor-column-gap-narrow {
  padding: $line-height 0;

  // NESTED NARROW & DEFAULT
  .elementor-column-gap-narrow,
  .elementor-column-gap-default {
    padding: $line-height 0;
  }

  //NESTED EXTENDED, WIDE, WIDER
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider  {
    padding: $line-height * 1.5 0;
  }
}

////
// Padding Verticale - DEFAULT
// Il padding va sul CONTAINER
////
.elementor-column-gap-default {
  padding: $height 0;

  // NESTED NARROW & DEFAULT
  .elementor-column-gap-narrow,
  .elementor-column-gap-default {
    padding: $line-height 0;
  }

  //NESTED EXTENDED, WIDE, WIDER
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider  {
    padding: $line-height * 1.5 0;
  }
}

////
// Padding Verticale - EXTENDED
// Il padding va sul CONTAINER
////
.elementor-column-gap-extended {
  padding: $height * 1.5 0;

  // NESTED NARROW & DEFAULT
  .elementor-column-gap-narrow
  .elementor-column-gap-default {
    padding: $line-height 0;
  }

  //NESTED EXTENDED, WIDE, WIDER
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider {
    padding: $line-height * 1.5 0;
  }
}


////
// Padding Verticale - WIDE
// Il padding va sul CONTAINER
////
.elementor-column-gap-wide {
  padding: $height--large 0;

  // NESTED NARROW & DEFAULT
  .elementor-column-gap-narrow
  .elementor-column-gap-default {
    padding: $line-height 0;
  }

  //NESTED EXTENDED, WIDE, WIDER
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider  {
    padding: $line-height * 1.5 0;
  }
}


////
// Padding Verticale - WIDER
// Il padding va sul CONTAINER
////
.elementor-column-gap-wider {
  padding: $height--huge 0;

  // NESTED NARROW & DEFAULT
  .elementor-column-gap-narrow,
  .elementor-column-gap-default {
    padding: $line-height 0;
  }

  //NESTED EXTENDED, WIDE, WIDER
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider  {
    padding: $line-height * 1.5 0;
  }
}

////
// Su Mobile tengo il padding nel container SOLO nei CONTAINER principali
// e lo tolgo in quelli nestati
///
@include breakpoint-max(md) {
  .elementor-column-gap-narrow,
  .elementor-column-gap-default,
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider {
    padding: $line-height 0;

    //Metto il padding verticale per separare le colonne
    &>.elementor-row .elementor-column .elementor-column-wrap.elementor-element-populated {
      padding-top: $line-height / 2;
      padding-bottom: $line-height / 2;
    }

    //Tolgo il padding dai CONTAINER nestati
    .elementor-column-gap-narrow,
    .elementor-column-gap-default,
    .elementor-column-gap-extended,
    .elementor-column-gap-wide,
    .elementor-column-gap-wider {
      padding: 0;
    }
  }
}

///
// COLONNE IMBOTTITE
// .colonna--imbottita
// Come prima cosa metto il padding verticale nella colonna
///
.elementor-column-gap-no,
.elementor-column-gap-default,
.elementor-column-gap-extended,
.elementor-column-gap-wide,
.elementor-column-gap-wider {
  &> .elementor-row > .colonna--imbottita > .elementor-column-wrap.elementor-element-populated {
    padding-top: $height;
    padding-bottom: $height;

    //Aggiungo un margine SOPRA e SOTTO quando le colonne cadono
    @include breakpoint-max(md) {
      margin-top: $line-height;
      margin-bottom: $line-height;
    }
  }
}



/*
 * COLONNE IMBOTTITE
 * Quando le colonne cadono, metto un margine negativo
 * in modo che la colonna faccia un overflow del padding del container
 */
@include breakpoint-max(md) {
  .elementor-column-gap-default > .elementor-row > .colonna--imbottita:last-child > .elementor-column-wrap.elementor-element-populated {
    margin-bottom: -$line-height * 1.5; //TODO - integrare nella precedente dichiarazione
  }

  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider {
    &> .elementor-row > .colonna--imbottita:last-child > .elementor-column-wrap.elementor-element-populated {
      margin-bottom: -$line-height * 1.5; //TODO - integrare nella precedente dichiarazione
    }
  }
}
