/*============================================================================*/
/*  Qui lavoro solo sulle SEZIONI FULL WIDTH
/*
/*  In Particale mi concentro sulle colonne FW in situazione NO PADDING visto
/*  che per ricreare le griglie che usiamo solitamente
/*  Ref: .elementor-section-full_width
/*============================================================================*/


.elementor-section-full_width {

  //Imposto la max width del container a 100%
  .elementor-column-gap-no,
  .elementor-column-gap-narrow,
  .elementor-column-gap-default,
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;


    //Imposto la larghezza massima dei contenitori e il loro padding verticale
    .elementor-widget-wrap {
      max-width: 800px;
      padding-top: $line-height * 3;
      padding-bottom: $line-height * 3;
    }



    /*
     * Determino il tipo di allineamento orizzontale
     * Viene fatto sul contenitore di .elementor-widget-wrap
     */
    .elementor-element-populated {
      justify-content: space-around;
    }

    //Cambio l'allineamtno della prima colonna in modo venga a dx
    .elementor-column:first-child {
      .elementor-element-populated {
        justify-content: flex-end;
      }
    }

    //cambio l'allineamento sull'ultima colonna in modo che venga a sx
    .elementor-column:last-child {
      .elementor-element-populated {
        justify-content: flex-start;
      }
    }


    /*
     * COLONNE 1/2
     * Aumento un po' lo spazio laterale sulle due colonne
     */
    .elementor-col-50 {

      //Prima
      &:first-child {
        .elementor-element-populated {
          padding-right: $line-height * 2;

          //RESET on Mobile
          @include breakpoint-max(md) {
            padding-right: $line-height;
          }
        }
      }

      //Ultima
      &:last-child {
        .elementor-element-populated {
          padding-left: $line-height * 2;

          //RESET on Mobile
          @include breakpoint-max(md) {
            padding-left: $line-height;
          }
        }
      }
    }


    /*
     * Colonna Imbottita Su Mobile
     */
    @include breakpoint-max(md) {
      .colonna--imbottita {
        margin: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


/*============================================================================*/
/* NESTED COLUMNS
/*============================================================================*/
.elementor-section-full_width {

  //Imposto la max width del container a 100%
  .elementor-column-gap-no,
  .elementor-column-gap-narrow,
  .elementor-column-gap-default,
  .elementor-column-gap-extended,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider {

    //Tolgo il padding laterale agli elementi popolati che sono dentro una colonna a 100 di larghezza
    &> .elementor-row > .elementor-col-100 > .elementor-column-wrap.elementor-element-populated {
      padding-left: 0;
      padding-right: 0;
    }

    //per le i widget wrap nestati dentro una colonna a 100 - quindi che nesta, la larghezza non è più limitata al 800px e non c'è padding;
    .elementor-col-100 .elementor-widget-wrap {
      max-width: 100%;
      padding: 0;

      //paddo perà il wrap nestato
      .elementor-widget-wrap {
        padding-top: $line-height * 2;
        padding-bottom: $line-height * 2;
      }

      //elimino i margini negativi degli elementi nestati
      .elementor-section .elementor-container {
        margin: 0;
      }
    }
  }
}
