.elementor-widget-testimonial {
  padding-left: $line-height;
  border-left: 3px solid;
  border-color: main-colors(main, border);

  .elementor-testimonial-details {
    padding: 0;
  }

  .elementor-testimonial-content {
    @include font(small, $mb: 0);
    color: main-colors(main, body);
  }

  .elementor-testimonial-name {
    @include font(small, $mt:0, $mb: 0, $wt: bold);
    text-transform: uppercase;
    color: main-colors(main, accent);
  }

  .elementor-testimonial-job {
    @include font(p, $mt: 0, $mb: 0);
    color: main-colors(main, body-sec);
  }
}

.elementor-testimonial-wrapper .elementor-testimonial-meta .elementor-testimonial-image img {
  max-width: 60px;
  height: auto;
}

.elementor-testimonial-wrapper {
  display: flex;
  flex-direction: column;

  .elementor-testimonial-content,
  .elementor-testimonial-meta {
    flex-basis: 100%;
    width: 100%;
  }

  .elementor-testimonial-content {
    order: 1;
  }
  .elementor-testimonial-meta {
    margin-bottom: $line-height / 2;
  }
}


/*
 * Loop Colori
 */
@each $palette, $section in $colors {
  .#{$palette} .elementor-widget-testimonial {
    border-color: palette($palette, border);

    .elementor-testimonial-content {
      color: palette($palette, body);
    }

    .elementor-testimonial-name {
      color: palette($palette, accent);
    }

    .elementor-testimonial-job {
      color: palette($palette, body-sec);
    }
  }
}
