.elementor-widget:not(:last-child) {
  margin-bottom: $line-height;
}


.elementor-text-editor > {
  * {
    max-width: 24.3rem; // was 33
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 28.3rem;
  }

  table {
    max-width: 100%;
  }

  .gform_wrapper {
  //  max-width: 39rem;
  }
}



.elementor-row > .elementor-column {
  &:first-child > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget > .elementor-widget-container > .elementor-text-editor > * {
    margin-left: 0;
  }
  &:last-child > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget > .elementor-widget-container > .elementor-text-editor > * {
    margin-right: 0;
  }
}


.elementor-widget-icon-box,
.elementor-widget-wp-widget-gform_widget {
  max-width: 24.3rem;
  margin-left: auto;
  margin-right: auto;
}

.elementor-row > .elementor-column {
  &:first-child > .elementor-column-wrap > .elementor-widget-wrap {
    & > .elementor-widget-icon-box,
    & > .elementor-widget-wp-widget-gform_widget  {
      margin-left: 0;
    }
  }

  &:last-child > .elementor-column-wrap > .elementor-widget-wrap {
    & > .elementor-widget-icon-box,
    & > .elementor-widget-wp-widget-gform_widget {
      margin-right: 0;
    }
  }
}

.elementor-col-33 .elementor-widget-text-editor {
  p {
    @include font(small);
  }

  h3 {
    @include font(h3, $fm: primary);
  }
}
