//***************************************************************************//
//*                                                                     *****//
//*                               SEZIONE INTRODUTTIVA di DIVI
//*              a cappello delle pagine
//*                                                                         *//
//***************************************************************************//
///
// Contenitore Featured Header costruito con DIVI
///
.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {


  @include breakpoint-max(sm) { //contenitore a 5XX px
  }
}

//contenitore DIVI - posizionamento
#intro {
  position: relative;
}


///
// Featured Header della Landing Page di DIVI
///
.page-template-template_land_page {

  #intro {
    @include breakpoint-max(xs) {
      padding-top: $line-height * 5 !important;
    }
  }

//contenitore DIVI
  &.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {
    @include breakpoint-max(xs) {
      padding-top: $line-height * 3 !important;
    }
  }
}


///
// Overlay della sezione introduttiva
///
#intro::before {
  @include color-overlay;
}


///
// Testo della Parte introduttiva
///
.et_divi_builder #et_builder_outer_content #intro {

  p {

  }
}
