///
// CONTENITORE
///
.et_divi_builder #et_builder_outer_content .et_pb_tabs {
  border: 0;
}

///
// UL
///

#main ul.et_pb_tabs_controls,
.et_divi_builder #et_builder_outer_content .et_pb_module ul.et_pb_tabs_controls  {
  margin: 0;
  border: 0;
  background: darken( main-colors(main, form-bg), 10%);

  li {
    list-style: none;
  }
}

.et_divi_builder #et_builder_outer_content .et_pb_all_tabs {
  padding: ($line-height * 2) $line-height;
  background: lighten(main-colors(main, form-bg), 2%);

  p, h1, h2, h3, h4, h5, h5, ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.et_divi_builder #et_builder_outer_content .et_pb_tabs_controls li {
  padding: $line-height / 2;
  border: 0;
  border-right: 1px dotted;

  &:last-child {
    border-right: 0;
  }

  &.et_pb_tab_active {
    padding: $line-height / 2;
    background: lighten(main-colors(main, form-bg), 2%);
    bottom: 0;
  }
}

///
// LOOP COLORI
///
@each $palette, $sections in $colors {
  .et_divi_builder #et_builder_outer_content .#{$palette} .et_pb_all_tabs {
    background: lighten(palette($palette, form-bg), 2%);
  }

  .et_divi_builder #et_builder_outer_content .#{$palette} ul.et_pb_tabs_controls {
    background: darken( palette($palette, form-bg), 5%);

    li.et_pb_tab_active {
      background: lighten(palette($palette, form-bg), 2%);
    }
  }
}
