//***********************************************************************//
//*                                                                     *//
//*                             I BOTTONI di DIVI
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//


//***********************************************************************//
//                              BOTTONI DIVI BUILDER - Dimensioni
//***********************************************************************//
.et_divi_builder #et_builder_outer_content {
  /*
   * Bottone Piccolo
   */
  .et_pb_button.size--small,
  .et_pb_module a.button.small {
    @extend %button;
    @include button(small, 1, half);

    font-weight: decoration(small, wt);
    text-transform: uppercase;
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;

    &:after { //il padding viene usato per correggere l'icona di DIVI
      display: none;
    }
    // HOVER
    &:hover {
      @extend .et_pb_button.size--small;
    }

    //Bottone icona
    &.et_pb_custom_button_icon {
      padding-right: 3em;
      padding-left: 1em;

      &::after {
        opacity: 1;
      }
    }
  }


  /*
   * Bottone Medio
   */
  .et_pb_button,
  .et_pb_button.size--medium,
  body a.big-button,
  .et_pb_module a.button.medium { //TOCHK ultima dichiarazione per bottone merda nel blurb
    @extend %button;
    @include button(p, 4);

    font-weight: inherit; //TODO
    text-transform: uppercase;
    border-radius: 0; //TOCHK
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;

    &:hover {
      @extend .et_pb_button.size--medium;
    }

   &:after { //il padding viene usato per correggere l'icona di DIVI
      display: none;
    }
    //Bottone icona
    &.et_pb_custom_button_icon {
      padding-right: 3em;
      padding-left: 1em;

    &::after {
        margin-left: 1em;
        font-size: font(p, fs);
        line-height: font(p, lh);
        opacity: 1;
      }
    }
  }


  /*
   * Bottone Grande
   */
  .et_pb_button.size--large,
  .et_pb_module a.button.large {
    @extend %button;
    @include button(h3, 4, half)

    font-weight: inherit; //TODO
    text-transform: uppercase;
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;



    &:hover {
      @extend .et_pb_button.size--large;
    }
    &:after { //il padding viene usato per correggere l'icona di DIVI
      display: none;
    }

    &.et_pb_custom_button_icon { //Bottone icona

      padding-right: 2em;
      padding-left: 1em;

      &::after {
        opacity: 1;
      }
    }
  }


  /*
   * Bottone Xtra Grande
   */
  .et_pb_button.size--huge {
    @extend %button;
    @include button(h2, 6, half);

    font-weight: inherit; //TODO
    text-transform: uppercase;

    padding-left: $line-height / 2;
    padding-right: $line-height / 2;

    &:hover {
      @extend .et_pb_button.size--huge;
    }

    &:after { //il padding viene usato per correggere l'icona di DIVI
      display: none;
    }

    &.et_pb_custom_button_icon { //Bottone icona

      padding-right: 2em;
      padding-left: 1em;

      &::after {
        opacity: 1;
      }
    }
  }
}

a.et_pb_more_button:after {
  line-height: inherit;
}
.et_pb_button:after {
  font-size: inherit;
}





//****************************************************************************//
//                         BOTTONI STANDARD - COLORI
//                  include anche i colori dei bottoni di gravity pare
//****************************************************************************//

/*
 * Bottoni in szeioni di Base
 */
.et_divi_builder #et_builder_outer_content .et_pb_bg_layout_light.et_pb_module.et_pb_button {
  @include button-color(none, main);

  &:hover {
    @include button-color(hover);
  }
}


/*****
 * Loop Bottoni per varie sezioni
 */

@each $palette, $bg in $colors {
  .et_divi_builder #et_builder_outer_content .#{$palette} .et_pb_module.et_pb_button {

    @include button-color(none, $palette);

    &:hover {
      @include button-color(hover, $palette);
    }
  }
}


//****************************************************************************//
//                         BOTTONI SCHELETRICI - COLORI
//                  include anche i colori dei bottoni di gravity pare
//                  ho cambiato la dichiarazione nel mixin dei bottoni per fare i bordi -
//****************************************************************************//

.et_divi_builder #et_builder_outer_content  .et_pb_bg_layout_light.et_pb_module.et_pb_button.skeleton--light {

  color: #fff;
  background-color: transparent;
  border-color: #fff;

  &:hover {
    color: #111;
    background-color: #fff;
    border-color: #fff;
  }
}
