//***************************************************************************//
//*                                                                     *****//
//*                                SEZIONI FW
//*              comportamento delle sezioni full-width
//*                                                                         *//
//***************************************************************************//

.page-template-template_fullwidth #page .inner,
//queste due classi selecionano gli inner dei portfoli SENZA Sidebar - la prima è quella effettiva ma ho messo anche quella senza spazio perché lo spazio potrebbe essere un typo
.single-portfolio #page div[class="inner "],
.single-portfolio #page div[class="inner"] {
  width: 100%;

  .entry.content {
    margin-bottom: 0;
  }
}

//****************************************************************************//
//                        CORREZIONE TIPOGRAFIA SEZ FW
//****************************************************************************//


//fix padding bottom su tipografia di DIVI BUILDER
.et_divi_builder #et_builder_outer_content .et_pb_module {
  p, h1, h2, h3, h4, h5 {
    padding-bottom: 0;
  }
}

//****************************************************************************//
//                               BG DELLE SEZ FW
//****************************************************************************//

.et_divi_builder #et_builder_outer_content .et_pb_section {
  background-color: main-colors(main, bg) !important;
}

@each $palette, $sections in $colors {
  .#{$palette},
  .et_divi_builder #et_builder_outer_content .et_pb_section.#{$palette} {
      background-color: palette($palette, bg) !important;
  }
}



//****************************************************************************//
//                      RIGHE & COLONNE
//****************************************************************************//
///
// Fix delle righe ad altezza uguale in modo che il contenuto si centri
// TOCR - forse ha senso fare diversi template per diversi allineamenti nelle righe ad altezza uguale?
///
.et_pb_row.et_pb_equal_columns {
  align-items: stretch !important;

  .et_pb_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

///
// Resetto la larghezza delle RIGHE
// questo va a confliggere con il padding impsotato sul mobile...
// bisogna vedere quale metodo SCEGLIERE - magari quello standard è meglio //TOCHK //TOCR
///
.et_divi_builder #et_builder_outer_content .et_pb_with_background .et_pb_row {
  width: 100%;
}

/*
 * Media queries per margini delle colonne
 */
.et_divi_builder #et_builder_outer_content .et_pb_column {
  @include breakpoint-max(divi-lg) {
    margin-bottom: $line-height;
  }
}

//****************************************************************************//
//                  PADDING DELLE SEZIONI e DELLE RIGHE
//****************************************************************************//
//RESET padding DELLE SEZIONI
.et_divi_builder #et_builder_outer_content .et_pb_section {
  padding: 0;

  @include breakpoint-max(divi-lg) {
    padding: 0;
  }
  @include breakpoint-min(divi-lg) {
    padding: 0;
  }
}

//RESET padding DELLE RIGHE
.et_divi_builder #et_builder_outer_content .et_pb_row {
  padding-top: $line-height;
  padding-bottom: $line-height;
  max-width: $website-width;

  @include breakpoint-max(xl) { //padding laterale riga sotto i 1169
    padding-left: $line-height * 2;
    padding-right: $line-height * 2;
  }

  @include breakpoint-max(md) { //padding-laterle riga sotto i 979 - annullo il padding sotto e sopra fra le righe visto che scende tutto a capo
    padding-left: $line-height * 2;
    padding-right: $line-height * 2;
    padding-top: 0;
    padding-bottom: 0;
  }


  @include breakpoint-max(xs) { //padding-laterle riga sotto i 979
    padding-left: $line-height;
    padding-right: $line-height;
  }

  @include breakpoint-min(divi-lg) { //padding sopra e sotto delle righe quando non sono prima o ultima
    padding-top: $line-height;
    padding-bottom: $line-height;
  }
}

/*
 * NO Padding: resetta i margini bottomo degli elementi della sezione
 */
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-no-padding .et_pb_row {
 padding-top: 0 !important;
 padding-bottom: 0 !important;

 @include breakpoint-min(divi-uxxl) {
   padding: 0;
 }
}



/*
 * SMALL padding
 */
//prima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-small-padding > div.et_pb_row:first-of-type {
  padding-top: $height--small;
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-small-padding > div.et_pb_row:last-of-type {
  padding-bottom: $height--small;
}



/*
* NORMAL padding - SEZIONI NORMALI E FW
*/
//Prima
.et_divi_builder #et_builder_outer_content .et_pb_section > div.et_pb_row:first-of-type {
  padding-top: $height;

  @include breakpoint-max(md) {
    padding-top: $line-height * 3;
  }

  @include breakpoint-max(sm) {
    padding-top: $height--small;
  }
}
//Prima con Parallax
.et_divi_builder #et_builder_outer_content .et_pb_section.et_pb_section_parallax  > div.et_pb_row:nth-of-type(2) {
  padding-top: $height; //per sezioni parallasse

  @include breakpoint-max(md) {
    padding-top: $line-height * 3;
  }

  @include breakpoint-max(sm) {
    padding-top: $height--small;
  }
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section > div.et_pb_row:last-of-type {
  padding-bottom: $height;

  @include breakpoint-max(md) {
    padding-bottom: $line-height * 3;
  }

  @include breakpoint-max(sm) {
    padding-bottom: $height--small;
  }
}


/*
* LARGE padding
*/

//prima
.et_divi_builder #et_builder_outer_content .et_pb_section.padding--large > div.et_pb_row:first-of-type {
  padding-top: $height--large;
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section.padding--large > div.et_pb_row:last-of-type {
  padding-bottom: $height--large;
}

/*
* HUGE padding
*/



//****************************************************************************//
//    QUINTI
//****************************************************************************//

@include breakpoint-min(divi-lg) {
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_1_3,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_1_3 {
    width: 37.8%;
  }

  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_2_3,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_2_3 {
    width: 56.7%;
  }

//1/5 e 3/5
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_1_4,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_1_4 {
    width: 17.8%;
  }

  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_1_2,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_1_2 {
    width: 53.4%;
  }
}




//****************************************************************************//
//    CONTENUTI DELLE RIGHE E DELLE SEZIONI
//****************************************************************************//
///
//ELIMINO MARGINI BOTTOM degli utlimi elementi dei box di testo
///
.et_divi_builder #et_builder_outer_content .et_pb_text p:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h1:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h2:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h3:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h4:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h5:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ul:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ol:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_module p:last-child {
  margin-bottom:0;
}

///
//ELIMINO I MARGINI SOPRA dei primi elementi dei box di testo
///
.et_divi_builder #et_builder_outer_content .et_pb_text p:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h1:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h2:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h3:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h4:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h5:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ul:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ol:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_module p:first-child {
  margin-top:0;
}



///
// Margini dei moduli
///
.et_pb_module {
  @include breakpoint-min(divi-lg) {
    margin-bottom: $line-height;
  }
}



///
// LARGHEZZA DELLA TIPOGRAFIA NELLA RIGA a 1 COLONNA
///
.et_divi_builder #et_builder_outer_content .et_pb_column_4_4 {
  p, h4, h5, ul, ol, blockquote {
  //  max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3,
  .gform_wrapper {
  // max-width: 1270px;
   margin-left: auto;
   margin-right: auto;
  }
}

//****************************************************************************//
//    OVERLAY
//****************************************************************************//
///
//DARK
///
.overlay--dark,
.et_pb_section.overlay--dark {
  position: relative;

  &::before {
    @include color-overlay($palette: fheader, $grade: 0.65);
  }

  .et_pb_module {
    position: relative;
    z-index: 1;
  }
}


///
//COLOR OVERLAY
///
.overlay--color,
.et_pb_section.overlay--color {
  position: relative;
  background-blend-mode: luminosity;

  .et_pb_module {
    position: relative;
    z-index: 1;
  }

  &::before {
    @include color-overlay($palette: main, $grade: 0.90);
  }
}

@each $palette, $sections in $colors {
  .#{$palette}.overlay--color,
  .et_divi_builder #et_builder_outer_content .et_pb_section.#{$palette}.overlay--color {

    &::before {
      @include color-overlay($palette: $palette, $grade: 0.8);
    }
  }
}


///
//OVERLAY SPECIAL
///
.et_pb_section.overlay--special {
  position: relative;

  &::before {
    @include color-overlay(main, $grade: 0.5);
    background: linear-gradient(100deg, rgba(main-colors(main, bg), 1) 0%, rgba(main-colors(main, bg), 1) 55%, rgba(main-colors(main, bg), 0.50) 60%, rgba(main-colors(main, bg), 0.0) 65%, rgba(main-colors(main, bg),0) 100%);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
}

@each $palette, $sections in $colors {
  .et_pb_section.#{$palette}.overlay--special {

    &::before {
      @include color-overlay(main, $grade: 0.5);
      background: linear-gradient(100deg, rgba(palette($palette, bg), 1) 0%, rgba(palette($palette, bg), 1) 55%, rgba(palette($palette, bg), 0.50) 60%, rgba(palette($palette, bg), 0.0) 65%, rgba(palette($palette, bg),0) 100%);
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
  }
}


///
//COLOR FILTER
///
.color--filter,
.et_pb_section.color--filter {
  position: relative;
  background-blend-mode: luminosity;

  .et_pb_module {
    position: relative;
    z-index: 1;
  }

  &::before {
    @include color-overlay($palette: main, $grade: 0.00);
  }
}

@each $palette, $sections in $colors {
  .#{$palette}.color--filter,
  .et_divi_builder #et_builder_outer_content .et_pb_section.#{$palette}.color--filter {
    &::before {
      @include color-overlay($palette: $palette, $grade: 0.0);
    }
  }
}
