//***************************************************************************//
//*                                                                     *****//
//*                                GRIGLIE FW
//*                                                                         *//
//***************************************************************************//
//****************************************************************************//
//                     RIGHE A LARGHEZZA PIENA
//                come le flex-cells o le "righe griglia"
//****************************************************************************//
/*
 * Reset delle larghezze dell RIGHE a larghezza piena
 */
.et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_fullwidth,
.et_divi_builder #et_builder_outer_content .et_pb_specialty_fullwidth > .et_pb_row {
  width: 100% !important;
  max-width: 100% !important;
}

//Azzera il padding della riga per quelle a Larghezza Piena
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth,
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth:first-of-type,
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth:last-of-type {
  padding: 0;
}

//sposta il padding sulle colonne per le Righe a Larghezza Piena
.et_pb_section .et_pb_row.et_pb_row_fullwidth .et_pb_column {
  padding-top: $height;
  padding-bottom: $height;


}

///
// Struttura delle RIGHE a larghezza piena
///
.et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_fullwidth {
  display: flex; //per allineamento verticale
  align-items: stretch;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  -ms-flex-wrap: nowrap;

  @include breakpoint-max(lg) {
  //  flex-flow: column;
  //  align-content: space-around;
    -ms-flex-wrap: wrap;
  }

  ///
  // Colonna interna alle righe
  ///
  .et_pb_column {
    float: none;  //per allineamento verticale
    padding-top: $line-height * 3;
    padding-bottom: $line-height * 3;
    padding-right: $line-height *2;
    padding-left: $line-height *2;
    flex-grow: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;

    &:first-child {
      align-items: flex-end;
    }

    &:last-child {
      align-items: flex-start;
    }

    &.align--center {
      justify-content: space-around;
    }
    &.align--bottom {
      justify-content: flex-end;
    }

    @include breakpoint-max(xxl) {
      padding-left: $line-height;
      padding-right: $line-height;
    }
    @include breakpoint-max(divi-lg) {
      margin-bottom: 0 !important;
    }
    @include breakpoint-max(lg) {
      min-height: $line-height * 12;
      float: none;
      padding-left: $line-height * 2;
      padding-right: $line-height * 2;
      width: auto !important;
      align-items: center !important;
    }

    @include breakpoint-max(sm) {
      padding-left: $line-height;
      padding-right: $line-height;
    }
    ///
    // Elementi interni alle colonne
    // sono rimpiccioliti per non fargli uscire troppo a risoluzioni troppo grandi
    ///
    .et_pb_text,
    .et_pb_module {
      clear: both;
      float: none;
      //width: 100%;
      box-sizing: border-box;
      width: 100%;
      max-width: 700px;


      &.et_pb_button { //fix width del bottone che contiene 2 et_pb_module uno dentro l'altro
        width: auto;
      }
    }
  }
}

///
// RIGA FW senza padding
///
.et_divi_builder #et_builder_outer_content .padding--none.et_pb_row.et_pb_row_fullwidth .et_pb_column {
  padding: 0 !important;
}


///
// Colonne delle righe a larghezza PIENA
// le allargo al massimo
///
.et_divi_builder #et_builder_outer_content {

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_1_2,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_1_2 {
    flex-basis: 50%;
    margin: 0;

    @include breakpoint-max(lg) {
      flex-basis: 100%;
    }
  }

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_1_3,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_1_3 {
    flex-basis: 33.33333%;
    margin: 0;


    @include breakpoint-max(xxl) {
      padding-top: $line-height * 1.5;
      padding-bottom: $line-height * 1.5;
    }

    @include breakpoint-max(xl) {
      font-size: 0.75em;
    }
    @include breakpoint-max(lg) {
      font-size: 1em;
      flex-basis: 100%;
      padding-top: $line-height * 2;
      padding-bottom: $line-height * 2;
    }

    .et_pb_button_module_wrapper.et_pb_module {
      margin-top: auto;
    }
  }

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_1_4,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_1_4 {
    flex-basis: 25%;
    margin: 0;

    @include breakpoint-max(xxl) {
      padding-top: $line-height * 1.5;
      padding-bottom: $line-height * 1.5;
    }

    @include breakpoint-max(xl) {
      font-size: 0.75em;
    }
    @include breakpoint-max(lg) {
      font-size: 1em;
      flex-basis: 50%;
      padding-top: $line-height * 2;
      padding-bottom: $line-height * 2;
    }
    @include breakpoint-max(md) {
      font-size: 1em;
      flex-basis: 100%;
    }
  }

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_2_3,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_2_3 {
    margin: 0;
    flex-basis: 66.666666%;

    @include breakpoint-max(xxl) {
      padding-top: $line-height * 1.5;
      padding-bottom: $line-height * 1.5;
    }

    @include breakpoint-max(xl) {
      font-size: 0.75em;
    }
    @include breakpoint-max(lg) {
      font-size: 1em;
      flex-basis: 100%;
      padding-top: $line-height * 2;
      padding-bottom: $line-height * 2;
    }

    //FIX max-width di questi moduli
    .et_pb_text,
    .et_pb_module {
      max-width: 800px;
      align-self: center;
    }
    .et_pb_button_module_wrapper.et_pb_module {
      margin-top: auto;
    }
  }

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_4_4,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_4_4 {
    //FIX max-width di questi moduli
    .et_pb_text,
    .et_pb_module {
      max-width: 800px;
      align-self: center;
    }
  }
}

///
// Colonne col bordo
///

.border--between.et_pb_row_fullwidth .et_pb_column {
  border-right: solid $line-height / 4;
  border-left: solid $line-height / 4;
  border-top: solid $line-height / 4;
  border-bottom: solid $line-height / 4;
  border-color: main-colors(main, bg) !important;

  @include breakpoint-max(md) {
    border-top: solid $line-height / 4;
    border-bottom: solid $line-height / 4;
  }


  @each $palette, $sections in $colors {
    &.#{$palette} {
        border-color: $bianco !important;
    }
  }
}

.border--between.et_pb_row_fullwidth:first-child .et_pb_column {
  border-top: solid $line-height / 2;
}
.border--between.et_pb_row_fullwidth:last-child .et_pb_column {
  border-bottom: solid $line-height / 2;
}
