//***************************************************************************//
//*                                                                     *****//
//*                                SEZIONI FW
//*              comportamento delle sezioni full-width
//*                                                                         *//
//***************************************************************************//

.page-template-template_fullwidth #page .inner,
.page-template-template_land_page #page .inner,
//queste due classi selecionano gli inner dei portfoli SENZA Sidebar - la prima è quella effettiva ma ho messo anche quella senza spazio perché lo spazio potrebbe essere un typo
.single-portfolio #page div[class="inner "],
.single-portfolio #page div[class="inner"] {
  width: 100%;

  .entry.content {
    margin-bottom: 0;
  }
}

//****************************************************************************//
//                        CORREZIONE TIPOGRAFIA SEZ FW
//****************************************************************************//


//fix padding bottom su tipografia di DIVI BUILDER
.et_divi_builder #et_builder_outer_content .et_pb_module {
  p, h1, h2, h3, h4, h5 {
    padding-bottom: 0;
  }
}

//****************************************************************************//
//                               BG DELLE SEZ FW
//****************************************************************************//

.et_divi_builder #et_builder_outer_content .et_pb_section {
  background-color: main-colors(main, bg) !important;
}

@each $palette, $sections in $colors {
  .#{$palette},
  .et_divi_builder #et_builder_outer_content .et_pb_section.#{$palette} {
      background-color: palette($palette, bg) !important;
  }
}



//****************************************************************************//
//                      RIGHE & COLONNE
//****************************************************************************//
///
// Fix delle righe ad altezza uguale in modo che il contenuto si centri
// TOCR - forse ha senso fare diversi template per diversi allineamenti nelle righe ad altezza uguale?
///
.et_pb_row.et_pb_equal_columns {
  align-items: stretch !important;

  .et_pb_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

///
// Resetto la larghezza delle RIGHE
// questo va a confliggere con il padding impsotato sul mobile...
// bisogna vedere quale metodo SCEGLIERE - magari quello standard è meglio //TOCHK //TOCR
///
.et_divi_builder #et_builder_outer_content .et_pb_with_background .et_pb_row {
  width: 100%;
}

/*
 * Media queries per margini delle colonne
 */
.et_divi_builder #et_builder_outer_content .et_pb_column {
  @include breakpoint-max(divi-lg) {
    margin-bottom: $line-height;
  }
}

//****************************************************************************//
//                  PADDING DELLE SEZIONI e DELLE RIGHE
//****************************************************************************//
//RESET padding DELLE SEZIONI
.et_divi_builder #et_builder_outer_content .et_pb_section {
  padding: 0;

  @include breakpoint-max(divi-lg) {
    padding: 0;
  }
  @include breakpoint-min(divi-lg) {
    padding: 0;
  }
}

//RESET padding DELLE RIGHE
.et_divi_builder #et_builder_outer_content .et_pb_row {
  padding-top: $line-height;
  padding-bottom: $line-height;
  max-width: $website-width;

  @include breakpoint-max(xl) { //padding laterale riga sotto i 1169
    padding-left: $line-height * 2;
    padding-right: $line-height * 2;
  }

  @include breakpoint-max(md) { //padding-laterle riga sotto i 979 - annullo il padding sotto e sopra fra le righe visto che scende tutto a capo
    padding-left: $line-height * 2;
    padding-right: $line-height * 2;
    padding-top: 0;
    padding-bottom: 0;
  }


  @include breakpoint-max(xs) { //padding-laterle riga sotto i 979
    padding-left: $line-height;
    padding-right: $line-height;
  }

  @include breakpoint-min(divi-lg) { //padding sopra e sotto delle righe quando non sono prima o ultima
    padding-top: $line-height;
    padding-bottom: $line-height;
  }
}

/*
 * NO Padding: resetta i margini bottomo degli elementi della sezione
 */
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-no-padding .et_pb_row {
 padding-top: 0 !important;
 padding-bottom: 0 !important;

 @include breakpoint-min(divi-uxxl) {
   padding: 0;
 }
}



/*
 * SMALL padding
 */
//prima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-small-padding > div.et_pb_row:first-of-type {
  padding-top: $height--small;
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-small-padding > div.et_pb_row:last-of-type {
  padding-bottom: $height--small;
}



/*
* NORMAL padding - SEZIONI NORMALI E FW
*/
//Prima
.et_divi_builder #et_builder_outer_content .et_pb_section > div.et_pb_row:first-of-type {
  padding-top: $height;

  @include breakpoint-max(md) {
    padding-top: $line-height * 3;
  }

  @include breakpoint-max(sm) {
    padding-top: $height--small;
  }
}
//Prima con Parallax
.et_divi_builder #et_builder_outer_content .et_pb_section.et_pb_section_parallax  > div.et_pb_row:nth-of-type(2) {
  padding-top: $height; //per sezioni parallasse

  @include breakpoint-max(md) {
    padding-top: $line-height * 3;
  }

  @include breakpoint-max(sm) {
    padding-top: $height--small;
  }
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section > div.et_pb_row:last-of-type {
  padding-bottom: $height;

  @include breakpoint-max(md) {
    padding-bottom: $line-height * 3;
  }

  @include breakpoint-max(sm) {
    padding-bottom: $height--small;
  }
}


/*
* LARGE padding
*/

//prima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-large-padding > div.et_pb_row:first-of-type {
  padding-top: $height--large;
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-large-padding > div.et_pb_row:last-of-type {
  padding-bottom: $height--large;
}

/*
* HUGE padding
*/




//****************************************************************************//
//                     RIGHE A LARGHEZZA PIENA
//                come le flex-cells o le "righe griglia"
//****************************************************************************//
/*
 * Reset delle larghezze dell RIGHE a larghezza piena
 */
.et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_fullwidth,
.et_divi_builder #et_builder_outer_content .et_pb_specialty_fullwidth > .et_pb_row {
  width: 100% !important;
  max-width: 100% !important;
}

//Azzera il padding della riga per quelle a Larghezza Piena
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth,
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth:first-of-type,
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth:last-of-type {
  padding: 0;
}

//sposta il padding sulle colonne per le Righe a Larghezza Piena
.et_pb_section .et_pb_row.et_pb_row_fullwidth .et_pb_column {
  padding-top: $height;
  padding-bottom: $height;
}

///
// Struttura delle RIGHE a larghezza piena
///
.et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_fullwidth {
  display: flex; //per allineamento verticale
  align-items: stretch;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  -ms-flex-wrap: nowrap;

  @include breakpoint-max(lg) {
  //  flex-flow: column;
  //  align-content: space-around;
    -ms-flex-wrap: wrap;
  }

  ///
  // Colonna interna alle righe
  ///
  .et_pb_column {
    float: none;  //per allineamento verticale
    padding-top: $line-height * 3;
    padding-bottom: $line-height * 3;
    padding-right: $line-height *2;
    padding-left: $line-height *2;
    flex-grow: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;

    &:first-child {
      align-items: flex-end;
    }

    &:last-child {
      align-items: flex-start;
    }

    &.align--center {
      justify-content: space-around;
    }
    &.align--bottom {
      justify-content: flex-end;
    }

    @include breakpoint-max(xl) {
      padding-left: $line-height;
      padding-right: $line-height;
    }

    @include breakpoint-max(lg) {
      min-height: $line-height * 12;
      float: none;
      padding-left: $line-height * 2;
      padding-right: $line-height * 2;
      width: auto !important;
    }

    @include breakpoint-max(sm) {
      padding-left: $line-height;
      padding-right: $line-height;
    }
    ///
    // Elementi interni alle colonne
    // sono rimpiccioliti per non fargli uscire troppo a risoluzioni troppo grandi
    ///
    .et_pb_text,
    .et_pb_module {
      clear: both;
      float: none;
      //width: 100%;
      box-sizing: border-box;
      width: 100%;
      max-width: 700px;


      &.et_pb_button { //fix width del bottone che contiene 2 et_pb_module uno dentro l'altro
        width: auto;
      }
    }
  }
}


///
// Colonne 1/2 delle righe a larghezza PIENA
// le allargo al massimo
///
.et_divi_builder #et_builder_outer_content {

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_1_2,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_1_2 {
    flex-basis: 50%;
    margin: 0;

    @include breakpoint-max(lg) {
      flex-basis: 100%;
    }
  }

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_1_3,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_1_3 {
    flex-basis: 33.33333%;
    margin: 0;

    @include breakpoint-max(xl) {
      font-size: 0.75em;
    }
    @include breakpoint-max(lg) {
      font-size: 1em;
      flex-basis: 100%;
    }
  }

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_1_4,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_1_4 {
    flex-basis: 25%;
    margin: 0;

    @include breakpoint-max(xl) {
      font-size: 0.75em;
    }
    @include breakpoint-max(lg) {
      font-size: 1em;
      flex-basis: 50%;
    }
    @include breakpoint-max(md) {
      font-size: 1em;
      flex-basis: 100%;
    }
  }
}

///
// Colonne col bordo
///

.border--between.et_pb_row_fullwidth .et_pb_column {
  border-right: solid $line-height / 4;
  border-left: solid $line-height / 4;
//  border-top: solid $line-height / 4;
  border-bottom: solid $line-height / 2;
  border-color: main-colors(main, border);

  @include breakpoint-max(md) {
    border-top: solid $line-height / 4;
    border-bottom: solid $line-height / 4;
  }


  @each $palette, $sections in $colors {
    &.#{$palette} {
        border-color: palette($palette, border);
    }
  }
}



//****************************************************************************//
//    QUINTI
//****************************************************************************//

@include breakpoint-min(divi-lg) {
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_1_3,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_1_3 {
    width: 37.8%;
  }

  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_2_3,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_2_3 {
    width: 56.7%;
  }

//1/5 e 3/5
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_1_3 .et_pb_column_1_4,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_1_4 {
    width: 17.8%;
  }

  .et_divi_builder #et_builder_outer_content .et_pb_gutters3 .lg-fifth .et_pb_column_1_3 .et_pb_column_1_2,
  .et_divi_builder #et_builder_outer_content .et_pb_gutters3.et_pb_row.lg-fifth .et_pb_column_1_2 {
    width: 53.4%;
  }
}




//****************************************************************************//
//    CONTENUTI DELLE RIGHE E DELLE SEZIONI
//****************************************************************************//
///
//ELIMINO MARGINI BOTTOM degli utlimi elementi dei box di testo
///
.et_divi_builder #et_builder_outer_content .et_pb_text p:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h1:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h2:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h3:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h4:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h5:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ul:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ol:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_module p:last-child {
  margin-bottom:0;
}

///
//ELIMINO I MARGINI SOPRA dei primi elementi dei box di testo
///
.et_divi_builder #et_builder_outer_content .et_pb_text p:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h1:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h2:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h3:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h4:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h5:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ul:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ol:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_module p:first-child {
  margin-top:0;
}



///
// Margini dei moduli
///
.et_pb_module {
  @include breakpoint-min(divi-lg) {
    margin-bottom: $line-height;
  }
}



///
// LARGHEZZA DELLA TIPOGRAFIA NELLA RIGA a 1 COLONNA
///
.et_divi_builder #et_builder_outer_content .et_pb_column_4_4 {
  p, h4, h5, ul, ol, blockquote {
  //  max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3,
  .gform_wrapper {
  // max-width: 1270px;
   margin-left: auto;
   margin-right: auto;
  }
}

///
// SEZIONE OVERLAY
///
.et_pb_section.lg-overlay {
  position: relative;

  &::before {
    @include color-overlay;
  }
}
