//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$null: transparent;
$nero-vero: #000;
$bianco-vero: #fff;
$rosso-vero: #FF0000;


/*
* Colori delle parti principali del sito
*/
$layout-colors: (
  topbar: (
    body: $nero-vero,
    link: $nero-vero,
    accent: $nero-vero,
    border: $nero-vero,
    bg: $bianco-vero,
    button-bg: $nero-vero,
    button: $bianco-vero,
  ),

  header: (
    body: $nero-vero,
    link: $nero-vero,
    accent: $rosso-vero,
    border: $nero-vero,
    bg: $bianco-vero,
    button-bg: $nero-vero,
    button: $bianco-vero,
  ),

  fheader: (
    body: $nero-vero,
    link: $nero-vero,
    accent: $nero-vero,
    border: $nero-vero,
    bg: $bianco-vero,
    overlay: $rosso-vero,
    button-bg: $nero-vero,
    button: $bianco-vero,
  ),

  main: (
    body:       $nero-vero,      //Corpo - testo
    body-sec:   $nero-vero,      //Secondario - blockquote o blog meta
    heading:    lighten($nero-vero, 50%),      //Titoli 1 e 2
    link:       $rosso-vero,      //Link
    bg:         $bianco-vero,      //Sfondo principale
    border:     lighten($nero-vero, 10%),      //Bordi

    accent:     $rosso-vero,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco-vero,      //body alternativo - testo in un form o in un box
    bg-alt:     lighten($nero-vero, 40%),      //sfondo alt - il bg di un form o di un box
    accent-alt: $rosso-vero,      //accento alt - il di un link nel form

    form-body: $bianco-vero,
    form-bg: lighten($nero-vero, 20%),
    form-link: $bianco-vero,
    form-desc: $bianco-vero,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco-vero,      //colore bottone
    button-bg:  lighten($nero-vero, 10%),

    button-subtle: $bianco-vero,
    button-bg-subtle: mix($nero-vero, white, 50%)    //bg bottone
    ),

  footer: (
    body: $nero-vero,
    link: $nero-vero,
    accent: $nero-vero,
    border: $nero-vero,
    bg: $bianco-vero,
    button-bg: $nero-vero,
    button: $bianco-vero,
    ),

  sidebar: (
    body: $nero-vero,
    link: $nero-vero,
    accent: $nero-vero,
    border: $nero-vero,
    bg: $bianco-vero,
    button-bg: $nero-vero,
    button: $bianco-vero,
  ),
);



/*
 * Colori delle Sezioni FW
 */
$colors: (
  color--dark1: (
    body:       $bianco-vero,      //Corpo - testo
    body-sec:   $bianco-vero,      //Secondario - blockquote o blog meta
    heading:    rgba($bianco-vero, 0.80),      //Titoli 1 e 2
    link:       $bianco-vero,      //Link
    bg:         $rosso-vero,      //Sfondo principale
    border:     $bianco-vero,      //Bordi

    accent:     $bianco-vero,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco-vero,      //body alternativo - testo in un form o in un box
    bg-alt:     $nero-vero,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco-vero,      //accento alt - il di un link nel form

    form-body: $bianco-vero,
    form-bg: $nero-vero,
    form-link: $bianco-vero,
    form-desc: $bianco-vero,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco-vero,      //colore bottone
    button-bg:  $nero-vero,

    button-subtle: $bianco-vero,
    button-bg-subtle: mix($nero-vero, white, 50%)    //bg bottone
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
