//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///



  $colors: (
    header: (
      body:       null,      //colore corpo
      body-sec:   null,      // Colore secondario - es blockquote
      heading:    null,      //colore titoli
      link:       null,      //Colore link
      bg:         null,      //Colore sfondo principale
      border:     null,      //Colore Bordi

      accent:     null,      //Colore accento - p.es icone / sfondo icone

      body-alt:   null,      //colore body alternativo
      bg-alt:     null,      //Colore sfondo alternativo

      overlay:    null,      //Colore sfondo overlay

      button:     null,      //colore bottone
      button-bg:  green       //bg bottone
    ),

    main: (
      body:       null,      //colore corpo
      body-sec:   null,      // Colore secondario - es blockquote
      heading:    null,      //colore titoli
      link:       null,      //Colore link
      bg:         null,      //Colore sfondo principale
      border:     null,      //Colore Bordi

      accent:     null,      //Colore accento - p.es icone / sfondo icone

      body-alt:   null,      //colore body alternativo
      bg-alt:     null,      //Colore sfondo alternativo

      overlay:    null,      //Colore sfondo overlay

      button:     null,      //colore bottone
      button-bg:  green       //bg bottone
    ),

    alternate: (
      body:       null,      //colore corpo
      body-sec:   null,      // Colore secondario - es blockquote
      heading:    null,      //colore titoli
      link:       null,      //Colore link
      bg:         null,      //Colore sfondo principale
      border:     null,      //Colore Bordi

      accent:     null,      //Colore accento - p.es icone / sfondo icone

      body-alt:   null,      //colore body alternativo
      bg-alt:     null,      //Colore sfondo alternativo

      overlay:    null,      //Colore sfondo overlay

      button:     null,      //colore bottone
      button-bg:  green       //bg bottone
    ),

    socket: (
      body:       null,      //colore corpo
      body-sec:   null,      // Colore secondario - es blockquote
      heading:    null,      //colore titoli
      link:       null,      //Colore link
      bg:         null,      //Colore sfondo principale
      border:     null,      //Colore Bordi

      accent:     null,      //Colore accento - p.es icone / sfondo icone

      body-alt:   null,      //colore body alternativo
      bg-alt:     null,      //Colore sfondo alternativo

      overlay:    null,      //Colore sfondo overlay

      button:     null,      //colore bottone
      button-bg:  green       //bg bottone
    ),

    footer: (
      body:       null,      //colore corpo
      body-sec:   null,      // Colore secondario - es blockquote
      heading:    null,      //colore titoli
      link:       null,      //Colore link
      bg:         null,      //Colore sfondo principale
      border:     null,      //Colore Bordi

      accent:     null,      //Colore accento - p.es icone / sfondo icone

      body-alt:   null,      //colore body alternativo
      bg-alt:     null,      //Colore sfondo alternativo

      overlay:    null,      //Colore sfondo overlay

      button:     null,      //colore bottone
      button-bg:  green       //bg bottone
    )
  );


//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);


///
// HOVER del BOTTONE
// Funzione: darken e/o lighten (del bg originale) + funzione
///
