//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///

$arancio: #ff7f00;
$grigio: #989898;
$grigio-scuro: #3c3c3c;
$grigio-chiaro: #cecece;
$grigio-chiarissimo: #f0f0f0;
$bianco: #ffffff;
$nero: #222222;
$verde: #3f9f00;

/*
 * Colori delle parti principali del sito
 */
$layout-colors: (
  topbar: (
    body: $grigio-scuro,
    link: $grigio-scuro,
    accent: $arancio,
    border: $grigio-scuro,
    bg: $bianco,
    button-bg: $arancio,
    button: $bianco,
    ),

  header: (
    body: $grigio-scuro,
    link: $grigio-scuro,
    accent: $arancio,
    border: $grigio-scuro,
    bg: $grigio-chiarissimo,
    button-bg: $arancio,
    button: $bianco,
    ),

  footer: (
    body: $bianco,
    link: $grigio-chiarissimo,
    accent: $arancio,
    border: $grigio-scuro,
    bg: $grigio-scuro,
    button-bg: $arancio,
    button: $bianco,
    ),

  sidebar: (
    body: $grigio-scuro,
    link: $grigio-scuro,
    accent: $arancio,
    border: $grigio-scuro,
    bg: $grigio-chiarissimo,
    button-bg: $arancio,
    button: $bianco,
    )
  );



  /*
   * Colori delle Sezioni FW
   */
$colors: (
  alternate: ( //sezioni grigio
    body:       $nero,      //Corpo - testo
    body-sec:   $arancio,      //Secondario - blockquote o blog meta
    heading:    $grigio-scuro,      //Titoli
    link:       $arancio,      //Link
    bg:         $grigio-chiarissimo,      //Sfondo principale
    border:     $grigio-chiaro,      //Bordi

    accent:     $arancio,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     $arancio,      //sfondo alt - il bg di un form o di un box
    accent-alt: $grigio-scuro,      //accento alt - il di un link nel form

    form-body: $nero,
    form-bg: $grigio-chiaro,
    form-link: $grigio-scuro,
    form-desc: $bianco,

    overlay:    rgba($nero, 0.25),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $arancio,      //bg bottone

    button-subtle: $bianco,
    button-subtle-bg: $grigio-scuro
  ),

  main: (
    body:       $nero,      //Corpo - testo
    body-sec:   $arancio,      //Secondario - blockquote o blog meta
    heading:    $grigio-scuro,      //Titoli
    link:       $arancio,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $grigio,      //Bordi

    accent:     $arancio,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     $arancio,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $nero,
    form-bg: $grigio-chiarissimo,
    form-link: $arancio,
    form-desc: $grigio,

    overlay:    rgba($nero, 0.25),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $arancio,

    button-subtle: $grigio-scuro,
    button-subtle-bg: $grigio-chiaro      //bg bottone
  ),

  socket: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli
    link:       $bianco,      //Link
    bg:         $arancio,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio-scuro,      //body alternativo - testo in un form o in un box
    bg-alt:     $grigio-chiarissimo,      //sfondo alt - il bg di un form o di un box
    accent-alt: $arancio,      //accento alt - il di un link nel form

    form-body: $grigio-scuro,
    form-bg: $grigio-chiaro,
    form-link: $nero,
    form-desc: $bianco,

    overlay:    rgba($nero, 0.25),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $grigio-scuro,
    button-subtle-bg: $grigio-chiaro      //bg bottone            //bg bottone
  ),
);





//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);


///
// HOVER del BOTTONE
// Funzione: darken e/o lighten (del bg originale) + funzione
///
