//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$null: transparent;
$nero-chiaro: #212121;
$nero: #000;
$bianco: #fff;
$grigio-scurissimo: #424242;
$grigio: #757575;
$grigio-chiaro: #F5F5F5;
$rosso-vero: #FF0000;
$giallo: #FFEB3B;
$verde: #4CAF50;
$blu: #2196F3;

/*
* Colori delle parti principali del sito
*/
$layout-colors: (
  topbar: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $nero,
    button-bg: $verde,
    button: $bianco,
  ),

  header: (
    body: $bianco,
    link: $bianco,
    accent: $giallo,
    border: $bianco,
    bg: rgba($nero, 0.2),
    button-bg: $giallo,
    button: $bianco,
  ),

  fheader: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $nero,
    overlay: $nero,
    button-bg: $verde,
    button: $bianco,
  ),

  main: (
    body:       $grigio-scurissimo,      //Corpo - testo
    body-sec:   $nero-chiaro,      //Secondario - blockquote o blog meta
    heading:    $grigio,      //Titoli 1 e 2
    link:       $giallo,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $grigio-chiaro,      //Bordi

    accent:     $giallo,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     $giallo,      //sfondo alt - il bg di un form o di un box
    accent-alt: $blu,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: lighten($nero, 20%),
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
    ),

  footer: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $nero,
    button-bg: $bianco,
    button: $nero,
    ),

  sidebar: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),
);



/*
 * Colori delle Sezioni FW
 */
$colors: (
  color--dark: (
    body:       $nero,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:    rgba($nero, 0.90),      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $giallo,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     $bianco,      //sfondo alt - il bg di un form o di un box
    accent-alt: $blu,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $nero,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),

  color--light: (
    body:       $nero,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:    $grigio-scurissimo,      //Titoli 1 e 2
    link:       $giallo,      //Link
    bg:         $grigio-chiaro,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $nero,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $nero,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $nero,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),

  color--dark-alt: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    rgba($bianco, 0.90),      //Titoli 1 e 2
    link:       $giallo,      //Link
    bg:         $nero-chiaro,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     $bianco,      //sfondo alt - il bg di un form o di un box
    accent-alt: $blu,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $nero,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),
);



//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
$card-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
