//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$null: transparent;
$nero: #000;
$bianco: #fff;


/*
* Colori delle parti principali del sito
*/
$layout-colors: (
  topbar: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),

  header: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),

  fheader: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),

  main: (
    body:       $nero,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:    rgba($nero, 0.68),      //Titoli 1 e 2
    link:       $nero,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $nero,      //Bordi

    accent:     $nero,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $nero,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $nero,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $nero,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
    ),

  footer: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
    ),

  sidebar: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),
);



/*
 * Colori delle Sezioni FW
 */
$colors: (
  color1: (
    body:       $nero,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:    rgba($nero, 0.68),      //Titoli 1 e 2
    link:       $nero,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $nero,      //Bordi

    accent:     $nero,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $nero,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $nero,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $nero,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
