//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$bianco: #f6f6f0;
$nero: #272525;
$grigio: #64645a;
$grigio-chiaro: #989792;
$grigio-chiarissimo: #dcdcd6;
$verde: #8fa170;
$verde-scuro: #60694e;
$porpora: #934954;

/*
 * Colori delle parti principali del sito
 */
$layout-colors: (
  topbar: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: rgba($nero, 0.55),
    button-bg: $verde,
    button: $bianco,
    ),

  header: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $nero,
    button-bg: $verde,
    button: $bianco,
    ),

  fheader: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $nero,
    button-bg: $verde,
    button: $bianco,
    ),

  footer: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $bianco,
    bg: $grigio-chiaro,
    button-bg: $verde,
    button: $bianco,
    ),

  sidebar: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
    )
  );



  /*
   * Colori delle Sezioni FW
   */
$colors: (
  grigio: ( //sezioni grigio
    body:       $nero,      //Corpo - testo
    body-sec:   $grigio-chiaro,      //Secondario - blockquote o blog meta
    heading:    $grigio-chiaro,      //Titoli 1 e 2
    heading2:    $grigio,      //Titoli 3
    heading3:    $nero,      //Titoli 4 e 5
    link:       $porpora,      //Link
    bg:         $grigio-chiarissimo,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $verde,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $grigio,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $nero,
    form-bg: $bianco,
    form-link: $porpora,
    form-desc: $nero,

    overlay:    rgba($nero, 0.25),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,      //bg bottone

    button-subtle: $bianco,
    button-bg-subtle: $porpora
  ),

  main: (
    body:       $nero,      //Corpo - testo
    body-sec:   $grigio-chiaro,      //Secondario - blockquote o blog meta
    heading:    $grigio-chiaro,      //Titoli 1 e 2
    heading2:    $grigio,      //Titoli 3
    heading3:    $nero,      //Titoli 4 e 5
    link:       $porpora,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $grigio-chiaro,      //Bordi

    accent:     $verde,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $porpora,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $nero,
    form-bg: $grigio-chiarissimo,
    form-link: $porpora,
    form-desc: $nero,

    overlay:    rgba($nero, 0.25),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: $porpora      //bg bottone
  ),

  verde: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli
    link:       $bianco,      //Link
    bg:         $verde,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     rgba($nero, 0.5),      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $nero,
    form-bg: rgba($bianco, 0.5),
    //form-bg: mix($bianco, $verde, 50%),
    form-link: $porpora,
    form-desc: $nero,

    overlay:    rgba($nero, 0.5),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $porpora,

    button-subtle: $bianco,
    button-bg-subtle: $verde-scuro     //bg bottone            //bg bottone
  ),

  porpora: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli
    link:       $bianco,      //Link
    bg:         $porpora,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     rgba($nero, 0.3),      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $nero,
    form-bg: mix($bianco, $porpora, 50%),
    form-link: $porpora,
    form-desc: $nero,

    overlay:    rgba($nero, 0.5),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: $grigio-chiaro      //bg bottone            //bg bottone
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
