//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$null: transparent;
$nero: #000;
$bianco: #fff;
$rosso-vero: #FF0000;
$bianco: #fdfdf9; //sfondo sito
$grigio-chiaro: #bec0bb;
$grigio-scuro: #4c4847;
$rosso: #9f464a;
$giallo: #cba673;
$giallo-scuro: darken(#cba673, 5%);
$nero: #000000;
$beige: #bfa695;
$beige-chiaro: lighten(#bfa695, 5%);
$verde: #43A047;

/*
* Colori delle parti principali del sito
*/
$layout-colors: (
  topbar: (
    body: $grigio-scuro,
    link: $grigio-scuro,
    accent: $rosso,
    border: $grigio-chiaro,
    bg: $beige,
    button-bg: $verde,
    button: $bianco,
  ),

  header: (
    body: $bianco,
    link: $bianco,
    accent: $rosso,
    border: $grigio-chiaro,
    bg: $grigio-scuro,
    button-bg: $verde,
    button: $bianco,
  ),

  fheader: (
    body: $bianco,
    link: $bianco,
    accent: $rosso,
    border: $grigio-chiaro,
    bg: $grigio-scuro,
    overlay: $nero,
    button-bg: $verde,
    button: $bianco,
  ),

  main: (
    body:       $grigio-scuro,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:    $beige,      //Titoli 1 e 2
    link:       $rosso,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $grigio-scuro,      //Bordi

    accent:     $rosso,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $giallo-scuro,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $grigio-scuro,
    form-bg: $beige-chiaro,
    form-link: $rosso,
    form-desc: $grigio-scuro,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
    ),

  footer: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $grigio-chiaro,
    bg: $grigio-scuro,
    button-bg: $verde,
    button: $bianco,
    ),

  sidebar: (
    body: $nero,
    heading: $grigio-scuro,
    link: $rosso,
    accent: $rosso,
    border: $grigio-scuro,
    bg: lighten($beige-chiaro, 20%),
    button-bg: $verde,
    button: $bianco,
  ),
);



/*
 * Colori delle Sezioni FW
 */
$colors: (
  color--dark: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    rgba($bianco, 0.90),      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $rosso,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio-scuro,      //body alternativo - testo in un form o in un box
    bg-alt:     $bianco,      //sfondo alt - il bg di un form o di un box
    accent-alt: $rosso,      //accento alt - il di un link nel form

    form-body: $grigio-scuro,
    form-bg: $beige-chiaro,
    form-link: $rosso,
    form-desc: $nero,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),

  color--light: (
    body:       $nero,      //Corpo - testo
    body-sec:   $grigio-scuro,      //Secondario - blockquote o blog meta
    heading:    $grigio-scuro,      //Titoli 1 e 2
    link:       $rosso,      //Link
    bg:         lighten($beige-chiaro, 10%),      //Sfondo principale
    border:     $grigio-scuro,      //Bordi

    accent:     $rosso,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio-scuro,      //body alternativo - testo in un form o in un box
    bg-alt:     $bianco,      //sfondo alt - il bg di un form o di un box
    accent-alt: $rosso,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $rosso,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),

  color--dark-alt: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    rgba($bianco, 0.90),      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $grigio-scuro,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio-scuro,      //body alternativo - testo in un form o in un box
    bg-alt:     $bianco,      //sfondo alt - il bg di un form o di un box
    accent-alt: $rosso,      //accento alt - il di un link nel form

    form-body: $grigio-scuro,
    form-bg: $beige-chiaro,
    form-link: $rosso,
    form-desc: $nero,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),
);



//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
$card-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
