//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER IL LAYOUT
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//*==========================================================================*//


//***********************************************************************//
//             LARGHEZZA LAYOUT & BREAKPOINT MEDIA QUERIES
//***********************************************************************//
$website-width: 1170px; //TODO

$u-hd:1981px; //step-p1

$s-desktop: $website-width - 1px; // step-1
$l-tablet: 989px; // step-2
$p-tablet: 767px; // step-3
$l-phone: 567px; // step-4
$p-phone: 479px; // step-5
$s-phone: 320px; // step-6
