//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER IL LAYOUT
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//*==========================================================================*//


//***********************************************************************//
//             LARGHEZZA LAYOUT & BREAKPOINT MEDIA QUERIES
//***********************************************************************//
$website-width: 1170px; //TODO

$u-hd:1980px; //step-p2

$s-desktop: 1023px; // step-1
$l-tablet: 979px; // step-2
$p-tablet: 767px; // step-3
$l-phone: 567px; // step-4
$p-phone: 479px; // step-5
$s-phone: 320px; // step-6


$divi-u-hd: 1462px; //min
$divi-large-desktop: 1405px; //max
$divi-small-desktop: 1100px; //max
$divi-l-tablet: 980px; //max
$divi-m-tablet: 782px;
$divi-p-tablet: 767px; //***
$divi-p-phone: 479px; //***
