//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.25em; //PROJ
  $line-height: 1.8em; //PROJ


///
// p and other standard elements
///
  $margin-top: 0em; //PROJ
  $margin-bottom: 1.5em; //PROJ


///
// Families
///
  $ff-primary: 'Open Sans', sans-serif; //PROJ
  $ff-secondary: 'Glegoo', serif; //PROJ
  $ff-special: 'Bowlby One', cursive; //PROJ
  $ff-button: $ff-secondary;


///
// WEIGHTS per Families
///
$families: (
  primary: (
    fm: $ff-primary,
    thin: 400,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  secondary: (
    fm: $ff-secondary,
    thin: 400,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  special: (
    fm: $ff-special,
    thin: 400,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),
);

$decorations: (
  p: (
    fm: primary,
    wt: normal,
  ),

  h1: (
    fm: special,
    wt: normal,
  ),

  h2: (
    fm: secondary,
    wt: normal,
  ),

  h3: (
    fm: secondary,
    wt: bold,
  ),

  h4: (
    fm: secondary,
    wt: normal,
  ),

  h5: (
    fm: secondary,
    wt: normal,
  ),

  small: (
    fm: primary,
    wt: normal,
  ),

  blockquote: (
    fm: special,
    wt: normal,
  ),
);
////
// Dimensioni & caratteristiche dei font principali
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 4.25em,
      lh: 1.27058824em,
      mt: 0.42352941em,
      mb: 0.42352941em,
    ),

    h2: (
      fs: 2.6em,
      lh: 1.38461538em,
      mt: 0.69230769em,
      mb: 0.69230769em,
    ),

    h3: (
      fs: 1.6em,
      lh: 1.125em,
      mt: 1.125em,
      mb: 1.125em,
    ),

    h4: (
      fs: 1em,
      lh: 1.8em,
      mt: 1.8em,
      mb: 0em,
    ),

    h5: (
      fs: 0.75em,
      lh: 1.2em,
      mt: 1.2em,
      mb: 0em,
    ),

    small: (
      fs: 0.75em,
      lh: 1.2em,
      mt: 1.2em,
      mb: 0,
    ),

    blockquote: (
      fs: 1.77777778em,
      lh: (1.8125em / 1.5),
      mt: 0.90625em,
      mb: 0.90625em,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 2.35em,
    lh: 1.53191489em,
    mt: 0.76595745em,
    mb: 0.76595745em,
  ),

  h2: (
    fs: 1.8em,
    lh: 1em,
    mt: 1em,
    mb: 1em,
  ),

  h3: (
    fs: 1.35em,
    lh: 1.33333333em,
    mt: 1.33333333em,
    mb: 0em,
  ),
);

////
// DETTAGLI
////
  $sup-top: -0.5em;
  $sub-bottom: -0.25em;
  $hr-spacing: 1px;



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  label: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  desc: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),
);
