//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.25em; //PROJ
  $line-height: 1.5em; //PROJ


///
// p and other standard elements
///
  $margin-top: 0em; //PROJ
  $margin-bottom: 1.5em; //PROJ


///
// Families
///
  $ff-primary: 'Source Serif Pro', serif; //PROJ
  $ff-secondary: 'Source Sans Pro', sans-serif; //PROJ
  $ff-special: $ff-primary; //PROJ
  $ff-button: $ff-secondary;


///
// WEIGHTS per Families
///
$families: (
  primary: (
    fm: $ff-primary,
    thin: 400,
    normal: 400,
    bold: 600,
    bolder: 600,
  ),

  secondary: (
    fm: $ff-secondary,
    thin: 400,
    normal: 400,
    bold: 600,
    bolder: 600,
  ),

  special: (
    fm: $ff-special,
    thin: 400,
    normal: 400,
    bold: 600,
    bolder: 600,
  ),
);

$decorations: (
  p: (
    fm: primary,
    wt: normal,
  ),

  h1sm: (
    fm: secondary,
    wt: normal,
  ),
  h1: (
    fm: secondary,
    wt: normal,
  ),

  h2: (
    fm: secondary,
    wt: bold,
  ),

  h3: (
    fm: secondary,
    wt: bold,
  ),

  h4: (
    fm: secondary,
    wt: normal,
  ),

  h5: (
    fm: secondary,
    wt: normal,
  ),

  small: (
    fm: secondary,
    wt: normal,
  ),

  blockquote: (
    fm: secondary,
    wt: normal,
  ),
);
////
// Dimensioni & caratteristiche dei font principali
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1sm: (
      fs: 3.375em,
      lh: 1.33333333333em,
      mt: 0.888888888888889em,
      mb: 0.44444444444444em,
    ),

    h1: (
      fs: 5.065em,
      lh: 1.161954070295196em,
      mt: 0.5809770351476em,
      mb: 0.2904885175738em,
    ),

    h2: (
      fs: 2.25em,
      lh: 1.33333333333em,
      mt: 1.33333333333em,
      mb: 0.6666666666667em,
    ),

    h3: (
      fs: 1.5em,
      lh: 1.25em,
      mt: 1em,
      mb: 0.5em,
    ),

    h4: (
      fs: 1em,
      lh: 1.5em,
      mt: 1.5em,
      mb: 1.5em,
    ),

    h5: (
      fs: 0.75em,
      lh: 2.178333333333333em,
      mt: 2.178333333333333em,
      mb: 0em,
    ),

    small: (
      fs: 0.75em,
      lh: 2em,
      mt: 2em,
      mb: 0,
    ),

    blockquote: (
      fs: 1.77777778em,
      lh: (1.8125em / 1.5),
      mt: 0.90625em,
      mb: 0.90625em,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 3.05em,
    lh: 1.47540984em,
    mt: 0.49180328em,
    mb: 0.98360656em,
  ),

  h2: (
    fs: 2.25em,
    lh: 1.33333333333em,
    mt: 1.33333333333em,
    mb: 0.6666666666667em,
  ),

  h3: (
    fs: 1.5em,
    lh: 1.25em,
    mt: 1em,
    mb: 0.5em,
  ),
);

////
// DETTAGLI
////
  $sup-top: -0.5em;
  $sub-bottom: -0.25em;
  $hr-spacing: 1px;



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  label: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  desc: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),
);
