//****************************************************************************//
//*                                                                     ******//
//*                    LAYOUT FOOTER
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
/*
 * Reset Font Size del footer
 */
#footer {
  font-size: 1em;
}

.has-shadow #footer_shadow {
  display: none;
}

//****************************************************************************//
//            FOOTER - COLORI E LAYOUT
//****************************************************************************//

.no-gradient #footer,
.has-gradient #footer {
  background-color: main-colors(footer, bg);
}

#footer .inner {
  padding: ($line-height * 3) 0;
}


//****************************************************************************//
//                                  WIDGET
//****************************************************************************//
#footer .widget {
  margin-bottom: $line-height * 2;
}

#footer .inner > div section:last-of-type {
  margin-bottom: 0;
}

/*
 * Titoli
 */
#footer h3.widgettitle {
  color: main-colors(footer, body);
}

/*
 * Colori Link Widget
 */

#footer .widget a {
  color: main-colors(footer, link);

  &:visited {
    color: main-colors(footer, link);
  }
}

/*
 * Post List
 */
#footer .widget .posts_list a,
#footer .widget .posts_list a:visited {
  color: main-colors(footer, link);

  &:hover {
    color: lighten(main-colors(footer, link), 30%)
  }
}


/*
 * Nav Menu
 */
#footer .widget_nav_menu li {
  a {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
    text-decoration: none;

    &::after {
      background: none;
      height: 0;
    }
  }

  &::before {
    color: main-colors(footer, link);
  }
}

#footer a,
#footer a:visited {
  color: main-colors(footer, link);
  text-decoration: underline;

  &:hover {
    color: ligthen(main-colors(footer, link), 100%)
  }
}



//****************************************************************************//
//                                  FOOTER BOTTOM
//****************************************************************************//

#footer_bottom {
  background: darken(main-colors(footer, bg), 0.0%);

  &> .inner {
    padding: $line-height 0;
  }
}

#copyright,
#footer_right_area {
  @include font(small);

  color: main-colors(footer, body);
}

//****************************************************************************//
//                                  FOOTER SU MOBILE
//****************************************************************************//
#footer > .inner {
  @include breakpoint-max(md) {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    .one_fourth {
      width: 47.5%;
      margin-right: 5%;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  @include breakpoint-max(sm) {
    padding-left: $line-height;
    padding-right: $line-height;

    .one_fourth {
      width: 100%;
      margin-right: 0;
      margin-top: $line-height * 2;
    }
  }
}
