//****************************************************************************//
//*                                                                     ******//
//*                    LAYOUT FOOTER
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
/*
 * Reset Font Size del footer
 */
#footer {
  font-size: 1em;
}


#main-footer {
  background-color: main-colors(footer, bg);
}

#et-footer-nav {
  background-color: lighten(main-colors(footer, bg), 10%);

  .bottom-nav li {
    @include size(p);
    margin-bottom: 0;
  }
}

#footer-bottom {
  background-color: main-colors(footer, bg);
}


/*************************************************************************/
/*                                  WIDGET
/*************************************************************************/

/*
 * Titoli
 */

.footer-widget h4.title {
  @include size(h3);
}
