//****************************************************************************//
//*                                                                     ******//
//*                    LAYOUT FOOTER
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
/*
 * Reset Font Size del footer
 */
#footer {
  font-size: 1em;

  a {
    &:hover {
      color: darken(main-colors(footer, link), 10%);
    }
  }
}

.has-shadow #footer_shadow {
  display: none;
}

//****************************************************************************//
//            FOOTER - COLORI E LAYOUT
//****************************************************************************//

/*
 * BG Footer
 */
.no-gradient #footer,
.has-gradient #footer {
  background-color: darken( main-colors(footer, bg), 5% );
  background-image: none;
}

#footer .inner {
  padding: ($line-height * 2) 0;
}

/*
 * BG footer bottom
 */
#footer_bottom {
  background-color: main-colors(footer, bg);
  background-image: none;

  &> .inner {
    padding: $line-height 0;
  }
}

//****************************************************************************//
//                                  WIDGET
//****************************************************************************//
#footer .widget {
  margin-bottom: $line-height * 2;
}

#footer .inner > div section:last-of-type {
  margin-bottom: 0;
}

/*
 * Titoli
 */
#footer h3.widgettitle {
  color: main-colors(footer, body);
}

/*
 * Colori Link Widget
 */

#footer .widget a {
  color: main-colors(footer, link);

  &:visited {
    color: main-colors(footer, link);
  }

  &:hover {
    color: darken(main-colors(footer, link), 10%);
  }
}

/*
 * Post List
 */
#footer .widget .posts_list .post_extra_info {
  @include font(small, $mt: 0, $mb: 0);
}
#footer .widget .posts_list a,
#footer .widget .posts_list a:visited {
  color: main-colors(footer, link);
  text-decoration: none;

  &:hover {
    color: lighten(main-colors(footer, link), 30%)
  }
}


/*
 * Nav Menu
 */
#footer .widget_nav_menu li {

  a {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
    text-decoration: none;
    padding-left: 0;
    @include font(h5, $mt: 0, $mb: 0);

    &:hover {
      color: main-colors(footer, link) !important;
    }

    &::after {
      background: none;
      height: 0;
    }
  }

  &::before {
    color: main-colors(footer, link);
    display: none;
  }
}

#footer a,
#footer a:visited {
  color: main-colors(footer, link);
  text-decoration: underline;

  &:hover {
    color: ligthen(main-colors(footer, link), 100%)
  }
}



//****************************************************************************//
//                                  FOOTER BOTTOM
//****************************************************************************//

#copyright,
#footer_right_area {
  @include font(small, $mt: 0, $mb: 0);

  color: main-colors(footer, body);
}

//****************************************************************************//
//                                  FOOTER SU MOBILE
//****************************************************************************//
#footer > .inner {
  @include breakpoint-max(md) {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-left: $line-height;
    padding-right: $line-height;
    margin-top: $line-height * 2 !important;
    width: 100%;

    .one_fourth {
      width: 47.5% !important;
      margin-right: 5% !important;
      &:nth-child(even) {
        margin-right: 0 !important;
      }
    }
  }

  @include breakpoint-max(sm) {
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;
    width: 100%;

    .one_fourth {
      width: 100% !important;
      margin-right: 0 !important;
      margin-top: $line-height !important;
    }
  }
}

#footer_bottom > .inner {
  @include breakpoint-max(md) {
    padding-left: $line-height;
    padding-right: $line-height;
    width: 100%;
  }

  @include breakpoint-max(sm) {
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;
    width: 100%;
  }
}
