//***************************************************************************//
//*                                                                     *****//
//*                               SEZIONE INTRODUTTIVA
//*              a cappello delle pagine
//*                                                                         *//
//***************************************************************************//

///
// Contenitore Featured Header
///
#feature,
.has-gradient #feature,
.no-gradient #feature {
  background-color: main-colors(fheader, bg);
  background-size: cover !important;
  background-image: none;
  position: relative;
}



///
// Contenitore Featured Header costruito con DIVI
///
.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {


  @include breakpoint-max(sm) { //contenitore a 5XX px
  }
}

//contenitore DIVI - posizionamento
#intro {
  position: relative;
}



///
// Featured Header della Landing Page
///
.page-template-template_land_page {

  //contenitore standard
  #feature,
  .has-gradient #feature,
  .no-gradient #feature,
  #intro {
    @include breakpoint-max(xs) {
      padding-top: $line-height * 5 !important;
    }
  }

  //contenitore DIVI
  &.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {
    @include breakpoint-max(xs) {
      padding-top: $line-height * 3 !important;
    }
  }
}



///
// Overlay della sezione introduttiva
///
#feature::before,
#intro::before {
  @include color-overlay;
}



///
// Inner del featured header
///
#feature .inner {
  position: relative;
  z-index: 1;

  @include breakpoint-max(sm) {
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;
  }
}



///
// Shadow del Featured Header
///
.has-shadow #feature .top_shadow,
.has-shadow #feature .bottom_shadow {
  display: none;
}




/******************************************************************************
/*                TITOLO del Featured HEADER
*******************************************************************************/
#feature h1 {
  @include font(h1, $mt: 0);
  padding: 0;
}




/******************************************************************************
/*                TESTO
*******************************************************************************/
.feature-introduce {

}


.et_divi_builder #et_builder_outer_content #intro {

  p {

  }
}
