//***************************************************************************//
//*                                                                     *****//
//*                               SEZIONE INTRODUTTIVA
//*              a cappello delle pagine
//*                                                                         *//
//***************************************************************************//

///
// Contenitore Featured Header
///
#feature,
.has-gradient #feature,
.no-gradient #feature {
  background-color: main-colors(fheader, bg);
  background-size: cover !important;
  background-image: none;
  position: relative;
}



///
// Featured Header della Landing Page
///
.page-template-template_land_page {

  //contenitore standard
  #feature,
  .has-gradient #feature,
  .no-gradient #feature {
    @include breakpoint-max(xs) {
      padding-top: $line-height * 5 !important;
    }
  }
}



///
// Overlay della sezione introduttiva
///
#feature::before {
  @include color-overlay;
}



///
// Inner del featured header
///
#feature .inner {
  position: relative;
  z-index: 1;
  padding: 0 0;

  @include breakpoint-max(sm) {
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;
  }
}



///
// Shadow del Featured Header
///
.has-shadow #feature .top_shadow,
.has-shadow #feature .bottom_shadow {
  display: none;
}




/******************************************************************************
/*                TITOLO del Featured HEADER
*******************************************************************************/
#feature h1 {
  @include font(h1, $mt: 0);
  padding: 0;
}




/******************************************************************************
/*                TESTO
*******************************************************************************/
.feature-introduce {

}
