//****************************************************************************//
//*                                                                          *//
//*                          LAYOUT PRINCIPALE DELLE PAGINE
//*                                                                          *//
//****************************************************************************//
//****************************************************************************//
//                               LARGHEZZA SITO - solo su desktop
//****************************************************************************//

@include breakpoint-min(xl) {
  .inner {
    width: $website-width;
  }

  .right_sidebar #main,
  .left_sidebar #main {
    width: 64%;
  }

  .right_sidebar #main .content,
  .left_sidebar #main .content {
    width: 100%;
  }

  .right_sidebar #sidebar,
  .left_sidebar #sidebar {
    width: 33%;
    margin-left: 3%;
  }
}




//****************************************************************************//
//                               COLORE PAGINE DI STRIKING
//****************************************************************************//
#page {
  background-color: main-colors(main, bg);


}


.has-gradient #page:before {
  content: none;
}



//****************************************************************************//
//                               PADDING TOTALE SOPRA IL CONTENUTO
//****************************************************************************//
#page .inner {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#main,
#sidebar {
  box-sizing: border-box;
  @include breakpoint-max(lg) {
    padding-right: $line-height * 2;
    padding-left: $line-height * 2;
  }
  @include breakpoint-max(xs) {
    padding-right: $line-height / 2;
    padding-left: $line-height / 2;
  }
}


//padding del contenuto dal featured header
#main,
#sidebar {
  padding-top: $height;
}
//resetto padding nelle FW
.page-template-template_fullwidth #main,
.page-template-template_land_page #main {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint-max(lg) {
    padding-right: 0;
    padding-left: 0;
  }
  @include breakpoint-max(xs) {
    padding-right: 0;
    padding-left: 0;
  }
}

//****************************************************************************//
//                          BREAD CRUMBS
//****************************************************************************//
#breadcrumbs { //contenitore
  margin-top: 0;

  .breadcrumbs {
    @include font(h5, $mt: 0);

    a {
    }

    text {
      font-weight: bold;
    }

    .breadcrumbs-plus {

    }
  }

  @at-root .inner.right_sidebar #{&} { //Con sidebar
  }
}
