//***************************************************************************//
//*                                                                     *****//
//*                                SEZIONI FW
//*              comportamento delle sezioni full-width
//*                                                                         *//
//***************************************************************************//

.page-template-template_fullwidth #page .inner {
  width: 100%;
}

//****************************************************************************//
//                        CORREZIONE TIPOGRAFIA SEZ FW
//****************************************************************************//
.et_divi_builder #et_builder_outer_content .et_pb_module {
  h1 { @include size(h1); }
  h2 { @include size(h2); }
  h3 { @include size(h3); }
  h4 { @include size(h4); }
  h5 { @include size(h5); }
}

//fix padding bottom su tipografia di DIVI BUILDER
.et_divi_builder #et_builder_outer_content .et_pb_module {
  p, h1, h2, h3, h4, h5 {
    padding-bottom: 0;
  }
}

//****************************************************************************//
//                               BG DELLE SEZ FW
//****************************************************************************//

.et_divi_builder #et_builder_outer_content .et_pb_section {
  background-color: palette(main, bg) !important;
}

@each $palette, $sections in $colors {
.et_divi_builder #et_builder_outer_content .et_pb_section.#{$palette} {
    background-color: palette($palette, bg) !important;
  }
}



//****************************************************************************//
//                      RIGHE & COLONNE
//****************************************************************************//
///
// Fix delle righe ad altezza uguale in modo che il contenuto si centri
// TOCR - forse ha senso fare diversi template per diversi allineamenti nelle righe ad altezza uguale?
///
.et_pb_row.et_pb_equal_columns {
   align-items: center;
}

///
// Resetto la larghezza delle RIGHE
// questo va a confliggere con il padding impsotato sul mobile...
// bisogna vedere quale metodo SCEGLIERE - magari quello standard è meglio //TOCHK //TOCR
///
.et_divi_builder #et_builder_outer_content .et_pb_with_background .et_pb_row {
  width: 100%;
}

/*
 * Media queries per margini delle colonne
 */
.et_divi_builder #et_builder_outer_content .et_pb_column {
  @include respond-to(divi-2) {
    margin-bottom: $line-height;
  }
}

//****************************************************************************//
//                  PADDING DELLE SEZIONI e DELLE RIGHE
//****************************************************************************//
//RESET padding DELLE SEZIONI
.et_divi_builder #et_builder_outer_content .et_pb_section {
  padding: 0;
  @include respond-to(divi-2) {
    padding: 0;
  }
  @include respond-to(divi-1) {
    padding: 0;
  }
}

//RESET padding DELLE RIGHE
.et_divi_builder #et_builder_outer_content .et_pb_row {
  padding-top: $line-height;
  padding-bottom: $line-height;

  @include respond-to(step-0) { //padding laterale riga sotto i 1169
    padding-left: 2em;
    padding-right: 2em;
  }

  @include respond-to(step-2) { //padding-laterle riga sotto i 979
    padding-left: 4em;
    padding-right: 4em;
  }

  @include respond-to(divi-1) { //padding sopra e sotto delle righe quando non sono prima o ultima
    padding-top: $line-height;
    padding-bottom: $line-height;
  }
}

/*
 * NO Padding: resetta i margini bottomo degli elementi della sezione
 */
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-no-padding .et_pb_row {
 padding-top: 0 !important;
 padding-bottom: 0 !important;

 @include respond-to(divi-p2) {
   padding: 0;
 }
}



/*
 * SMALL padding
 */
//prima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-padding-small > div.et_pb_row:first-of-type {
 padding-top: $line-height * 2;
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section.lg-padding-small > div.et_pb_row:last-of-type {
 padding-bottom: $line-height * 2;
}



/*
* NORMAL padding - SEZIONI NORMALI E FW
*/
//Prima
.et_divi_builder #et_builder_outer_content .et_pb_section > div.et_pb_row:first-of-type {
  padding-top: $line-height * 4;
}

//Prima con Parallax
.et_divi_builder #et_builder_outer_content .et_pb_section.et_pb_section_parallax  > div.et_pb_row:nth-of-type(2) {
  padding-top: $line-height * 4; //per sezioni parallasse
}


//Ultima
.et_divi_builder #et_builder_outer_content .et_pb_section > div.et_pb_row:last-of-type {
  padding-bottom: $line-height * 4;
}


//Azzera il padding della riga per quelle a Larghezza Piena
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth:first-of-type,
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row.et_pb_row_fullwidth:last-of-type {
  padding: 0;
}

//sposta il padding sulle colonne per le Righe a Larghezza Piena
.et_pb_section .et_pb_row.et_pb_row_fullwidth .et_pb_column {
  padding-top: $line-height * 4;
  padding-bottom: $line-height * 4;
}




/*
* LARGE padding
*/


/*
* HUGE padding
*/




//****************************************************************************//
//                     RIGHE A LARGHEZZA PIENA
//                come le flex-cells o le "righe griglia"
//****************************************************************************//
/*
 * Reset delle larghezze dell RIGHE a larghezza piena
 */
.et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_fullwidth,
.et_divi_builder #et_builder_outer_content .et_pb_specialty_fullwidth > .et_pb_row {
  width: 100% !important;
  max-width: 100% !important;
}



///
// Struttura delle RIGHE a larghezza piena
///
.et_divi_builder #et_builder_outer_content .et_pb_row.et_pb_row_fullwidth {
  display: inline-table; //per allineamento verticale
  align-items: center;
  vertical-align: middle; //per allineamento verticale

  @include respond-to(step-2) {
    display: block;
  }

  ///
  // Colonna interna alle righe
  ///
  .et_pb_column {
    float: none;  //per allineamento verticale
    display: table-cell;  //per allineamento verticale
    vertical-align: middle;  //per allineamento verticale
    padding-top: $line-height * 3;
    padding-bottom: $line-height * 3;
    padding-right: 2em;
    padding-left: 2em;

    @include respond-to(step-2) {
      display: block;
      float: left;
      min-height: $line-height * 12;
    }


    ///
    // Elementi interni alle colonne
    // sono rimpiccioliti per non fargli uscire troppo a risoluzioni troppo grandi
    ///
    .et_pb_text,
    .et_pb_module {
      max-width: 780px; //TOCR - trovare una larghezza giusta da impostare per gli schermi normali
    }

    &:first-child {
      padding-right: 5.5em; //Paddo la prima cella per dare dello spazio a DX
      @include respond-to(step-2) {
        padding-left: 4em;
        padding-right: 4em;
      }

      .et_pb_text,
      .et_pb_button_module_wrapper { //Flotto gli elementi interni alla prima cella in modo che si allineino a dx
        float: right;
        clear: both;
        width: 100%;
      }
    }

    &:nth-child(2) {
      padding-left: 5.5em; //Paddo la seconda cella per dare dello spazio a SX
      @include respond-to(step-2) {
        padding-left: 4em;
        padding-right: 4em;
      }
    }
  }
}



///
// Colonne 1/2 delle righe a larghezza PIENA
// le allargo al massimo
///
.et_divi_builder #et_builder_outer_content {

  .et_pb_gutters3 .et_pb_row_fullwidth .et_pb_column_1_2,
  .et_pb_gutters3.et_pb_row.et_pb_row_fullwidth .et_pb_column_1_2 {
    width: 50%;

    @include respond-to(step-2) {
      width: 100%;
    }
  }
}



//****************************************************************************//
//    CONTENUTI DELLE RIGHE E DELLE SEZIONI
//****************************************************************************//
///
//ELIMINO MARGINI BOTTOM degli utlimi elementi dei box di testo
///
.et_divi_builder #et_builder_outer_content .et_pb_text p:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h1:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h2:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h3:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h4:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h5:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ul:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ol:last-child,
.et_divi_builder #et_builder_outer_content .et_pb_module p:last-child {
  margin-bottom:0;
}

///
//ELIMINO I MARGINI SOPRA dei primi elementi dei box di testo
///
.et_divi_builder #et_builder_outer_content .et_pb_text p:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h1:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h2:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h3:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h4:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text h5:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ul:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_text ol:first-child,
.et_divi_builder #et_builder_outer_content .et_pb_module p:first-child {
  margin-top:0;
}



///
// Margini dei moduli
///
.et_pb_module {
  @include respond-to(divi-1) {
    margin-bottom: $line-height;
  }
}



///
// LARGHEZZA DELLA TIPOGRAFIA NELLA RIGA a 1 COLONNA
///
.et_divi_builder #et_builder_outer_content .et_pb_column_4_4 {
  p, h1, h2, h3, h4, h5, ul, ol, blockquote {
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
  }
}

///
// SEZIONE OVERLAY
///

.et_pb_section.lg-overlay {
  position: relative;

  &::before {
    @include color-overlay;
  }
}
