//***************************************************************************//
//*                                                                     *****//
//*                         BARRA LATERALE
//*                         Layout e Widget
//*                                                                         *//
//***************************************************************************//
//****************************************************************************//
//                             IMPOSTAZIONI GENERALI
//****************************************************************************//
.right_sidebar #sidebar {
  padding-left: 0;
  padding-right: 0;
}
/*
 * Contneuto Sidebar - rimozione Ombra
 */
.has-gradient .right_sidebar #sidebar_content {
  background-image: none;
  overflow: visible;

  &::after {
    background: none;
  }
}

.right_sidebar #sidebar_content.lessgap {
  padding-top: 0;
  padding-left: 0;
}



//****************************************************************************//
//                           WIDGET
//****************************************************************************//

#sidebar section.widget {
  padding: $line-height;
  background: main-colors(sidebar, bg);
  box-shadow: $card-shadow;

  &.widget_text,
  &.widget_text_icl {
    padding: 0;
    background: palette(color--dark, bg);

    p {
      padding: $line-height;
    }
    h3 {
      padding: size(h3, lh);

      a {text-decoration: none;}
    }

    p,
    h3 {

      color: palette(color--dark, body);

      &:first-child {
        padding-bottom: 0;
      }
      &:last-child {
        padding-top: 0;
      }
    }

    a {
      color: palette(color--dark, link);
      text-decoration: underline;
    }
  }
}
/*
 * Ultimo Widget
 */
#sidebar section.widget:last-child {
  margin-bottom: 0 !important;
}


/*
 * Titoli
 */
#sidebar .widgettitle {
  color: main-colors(sidebar, heading);
}



/*
 * Corpo
 */
#sidebar .widget ul {
  padding: $line-height;

  &.posts_list {
    padding: 0;
    margin-top: $line-height;

    time {
      @include font(h5, $mt: 0);
    }
  }
}

//****************************************************************************//
//                           COLOR LINK
//****************************************************************************//
#sidebar .widget .posts_list a,
#sidebar .widget .posts_list a:visited,
#sidebar .widget a,
#sidebar .widget a:visited {
  color: main-colors(sidebar, link);
  &:hover {
    color: main-colors(sidebar, link);
  }
}

///
// LINK Nav Menu
///
#sidebar .widget.widget_nav_menu a,
#sidebar .widget.widget_nav_menu a:visited {

  &:hover {
  }
}




//****************************************************************************//
//                           SIDEBAR SU MOBILE
//****************************************************************************//
#sidebar_content {
  @include breakpoint-max(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    section.widget {
      width: 47.5%;
      margin-right: 5%;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  @include breakpoint-max(sm) {
    section.widget {
      width: 100%;
      margin-right: 0;
    }
  }

  @at-root .right_sidebar #{&} {
    @include breakpoint-max(md) {
      padding-left: $line-height;
      padding-right: $line-height;
    }
    @include breakpoint-max(sm) {
      padding-left: $line-height / 2;
      padding-right: $line-height / 2;
    }
  }
}
