//***************************************************************************//
//*                                                                     *****//
//*                         BARRA LATERALE
//*                         Layout e Widget
//*                                                                         *//
//***************************************************************************//
//****************************************************************************//
//                             IMPOSTAZIONI GENERALI
//****************************************************************************//

/*
 * Contneuto Sidebar - rimozione Ombra
 */
.has-gradient .right_sidebar #sidebar_content {
  background-image: none;
}

.right_sidebar #sidebar_content.lessgap {
  padding-top: 0;
}



//****************************************************************************//
//                           WIDGET
//****************************************************************************//
/*
 * Ultimo Widget
 */
#sidebar section.widget:last-child {
  margin-bottom: 0 !important;
}


/*
 * Titoli
 */
#sidebar .widgettitle {
}



/*
 * Corpo
 */
#sidebar .widget ul {
  padding: $line-height;
}

//****************************************************************************//
//                           COLOR LINK
//****************************************************************************//
#sidebar .widget .posts_list a,
#sidebar .widget .posts_list a:visited,
#sidebar .widget a,
#sidebar .widget a:visited {

  &:hover {
  }
}

///
// LINK Nav Menu
///
#sidebar .widget.widget_nav_menu a,
#sidebar .widget.widget_nav_menu a:visited {

  &:hover {
  }
}




//****************************************************************************//
//                           SIDEBAR SU MOBILE
//****************************************************************************//
#sidebar_content {
  @include breakpoint-max(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    section.widget {
      width: 47.5%;
      margin-right: 5%;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  @include breakpoint-max(sm) {
    section.widget {
      width: 100%;
      margin-right: 0;
    }
  }

  @at-root .right_sidebar #{&} {
    @include breakpoint-max(xs) {
      padding-left: $line-height;
      padding-right: $line-height;
    }
  }
}
