//****************************************************************************//
//*                                                                     ******//
//*                              IMMAGINI
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//

///
// TONDE
///
.lg-tonde,
.lg-tonde img {
  border-radius: 100%;
}

.wp-caption {
  border: 0;
  background: transparent;
  padding: 0;

  figcaption {
    @include font(small, $mb: 0, $mt: 0, $wt: normal);
    font-style: italic;
  }
}



.has-shadow .wp-caption {
  box-shadow: none;
}



//****************************************************************************//
//*               IMMAGINI SU MOBILE
//****************************************************************************//
#page img {
  @include breakpoint-max(lg) {
    max-height: 600px;
    width: auto;
  }

  @include breakpoint-max(md) {
    max-height: 500px;
  }

  @include breakpoint-max(sm) {
    max-height: 400px;
  }
}
