// ***************************************************************************//
//********        RESET DI BASE PER IL TEMA ENFOLD        ********************//
//****************************************************************************//
//****************************************************************************//
//*         DIVI BUILDER
//****************************************************************************//

#et_builder_outer_content input[type="text"],
#et_builder_outer_content input[type="password"],
#et_builder_outer_content input[type="number"],
#et_builder_outer_content input[type="email"] {
    height: inherit;
}



//****************************************************************************//
//*                 STRIKING
//***************************************************************************//

#page {
  font-size: 1em;
}
