// ***************************************************************************//
//********        RESET DI BASE PER IL TEMA ENFOLD        ********************//
//****************************************************************************//

// Dimensioni e Lineheight
.avia_textblock,
p.lead,
blockquote,
#top label,
#top legend,
#top legend span,
table,
table caption,
td,
pre,
sup,
.special_amp,
.image-overlay .image-overlay-inside:before /*forse no*/,
div .wp-caption,
.wp-caption-text,
#top .wp-caption .wp-caption-dd,
#wp-calendar td,
#wp-calendar th,
.phone-info,
.html_header_sidebar #header .av-main-nav > li > a .avia-menu-text,
.html_header_sidebar #header .av-main-nav > li > a .avia-menu-subtext,
.av-main-nav > li > a,
#top .av-main-nav ul a,
#top #header .mega_menu_title a,
#header .mega_menu_title,
#top .menu-item-search-dropdown > a,
#searchform #searchsubmit, .ajax_search_image,
.iconfont,
#top #searchform .ajax_search_response,
.ajax_search_response h4,
#top div .ajax_search_entry,
.ajax_search_image,
.ajax_search_excerpt,
.title_container .main-title,
.title_container .breadcrumb,
.sub_menu,
#top .sub_menu li li a,
#top .fullsize .template-blog .post-title,
#top .fullsize .template-blog .post .entry-content-wrapper,
.container .minor-meta,
.template-blog .post .entry-content-wrapper,
.rounded-container .iconfont,
.small-preview .iconfont,
.entry-content-wrapper .post-title,
.post-meta-infos,
.pagination span,
.pagination a,
.pagination .current,
.avia-post-nav .label,
.avia-post-nav .entry-info span,
.related-format-icon-inner,
#top .flex_column .template-blog .post-title,
.html_elegant-blog #top .post-entry .post-title,
.html_elegant-blog .avia-content-slider .slide-entry-title,
.html_elegant-blog #top .post-entry .post-title,
.html_elegant-blog .avia-content-slider .slide-entry-title,
#top .template-search.content .entry-content-wrapper,
.template-search .entry-content-wrapper .post-title,
.template-author .content .post .entry-content-wrapper,
.template-author .entry-content-wrapper .post-title,
#top .fullsize .template-blog .tag-page-post-type-title,
.widgettitle,
#top .av-form-error-container,
#top .social_widget_icon,
.avia_socialcount a strong,
.avia_socialcount a span,
#top .widget.tweetbox .tweet,
.widget.tweetbox .tweet-time,
.widget.tweetbox .tweet-text.avatar_no,
.avia_parnter_empty,
#top .news-content,
.image_size_portfolio_small .news-excerpt,
.image_size_portfolio_small .news-headline,
.news-time,
.tagcloud a,
.widget_rss li,
.rss-date,
.widget_rss cite,
.recentcomments, .widget_recent_entries li,
#top .widget_twitter,
#top .widget_twitter .entry-meta,
#top .widget_twitter .intent-meta,
#socket,
#comments span,
.minitext,
.form-allowed-tags,
#reply-title small,
#commentform label,
.comment-edit-link,
#cancel-comment-reply-link,
.commentmetadata,
#top .comment_text,
#top .comment-reply-link,
.comment-count,
.side-container-comment-inner .comment-text,
.comment_page_nav_links,
#commentform label,
#comment,
.form-allowed-tags,
.responsive.html_header_sidebar #header .av-main-nav > li > a .avia-menu-text,
.responsive.html_header_sidebar #header .av-main-nav > li > a .avia-menu-subtext,
.responsive.js_active .avia_combo_widget .top_tab .tab,
.responsive .fullsize div .template-blog .entry-content-wrapper,
.widget li,
.av-inherit-size .av-special-heading-tag,
.av-subheading,
.av-inherit-size .av-special-heading-tag,
.iconbox .iconbox_content .iconbox_content_title,
.av-catalogue-title-container,
.av-catalogue-content,
div .avia_message_box .avia_message_box_title,
.avia_message_box_content,
.avia_message_box_icon,
.js_active .tab,
.tabcontainer .tab_icon,
.sidebar_tab .tab_icon,
.avia-promocontent p {
  line-height: inherit;
  font-size: inherit;
}

// Margini

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
}

// DI QUESTE BISOGNA FARE UN RESET SENSATO - O MAGARI GIA' DEI CSS

.av-icon-display,
#top .avia-icon-tooltip,
.av_icon_caption,
.iconbox_icon,
.iconbox_top .iconbox_icon,
#top .iconbox_left_content .iconbox_icon,
#top .iconbox_right_content .iconbox_icon,
#top .iconbox.av-no-box .iconbox_icon,
.avia-icon-list .iconlist_icon,
.av-seperator-icon,
.avia-animated-number-title,
.avia-no-number,
.avia-animated-number-content {

}
