//***********************************************************************//
//*                                                                     *//
//*                     LA TIPOGRAFIA DEL PROGETTO
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

//***********************************************************************//
//              PARTE PRINCIPALE - BODY - P e UL / OL
//***********************************************************************//
/*
 * BODY e P
 */
body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $serif;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

p, ul, ol, pre, table, blockquote,
.et_divi_builder #et_builder_outer_content .et_pb_module p {
  @include margin;
}


#left-area,
.comment-content,
.entry-content,
body.et-pb-preview #main-content .container { //TOCHK - cosa fa questa roba??
  ol, ul {
    padding: 0 0 $line-height $line-height;
  }
}



///
// Reset del padding del p e di DIVI BUILDER
////
p,
p.et_normal_padding {
  padding-bottom: 0;
}

ul, ol, pre, table {
  @include decoration();
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}


//***********************************************************************//
//              TITOLI
//***********************************************************************//
///
// RESET PADDING
///
h1, h2, h3, h4, h5 {
  padding-bottom: 0;
}


h1 {
  @include font(h1);

  @include breakpoint-max(sm) {
    @include m-size(h1);
  }
}

h2 {
  @include font(h2);

  @include breakpoint-max(sm) {
    @include m-size(h2);
  }
}

h3 {
  @include font(h3);

  @include breakpoint-max(sm) {
    @include m-size(h3);
  }
}


h4 {
  @include font(h4);
}


h5 {
  @include font(h5);
}




//****************************************************************************//
//*               FIX TIPOGRAFIA DIVI IN MEDIA QUERIES
//*     Divi outputta nel testo 2 media queries a 767 e 980 che modificano
//*     il FS e la LH di H1 e FS del P richiamando la classe specifica
//*     del box di testo et_pb_text_X dove X è il numero del box di testo
//*
//*     Qui uso un wildcard per richiamare di nuovo le dimensioni del testo
//*     corrette - è un po' un taccone, nel senso che si aggiugno circa 12
//*     linee di codice
//****************************************************************************//
//TOFIX
/*
.et_divi_builder #et_builder_outer_content div[class*='et_pb_text_'] h1 {
  @include respond-to(divi-2) {
    @include font(h1);
  }

  @include respond-to(step-3) {
    @include font(h1);
  }
}

.et_divi_builder #et_builder_outer_content div[class*='et_pb_text_'] p {
  @include respond-to(divi-2) {
    @include font(p);
  }

  @include respond-to(step-3) {
    @include font(p);
  }
}*/




//****************************************************************************//
//                                DETTAGLI
//****************************************************************************//
hr { @include hr-spacing; }


b, strong, em, small, code { line-height: 1; }


sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: $sup-top;
}


sub { bottom: $sub-bottom; }




//****************************************************************************//
//                                OL & UL
//****************************************************************************//
///
// Impostazione di Margine e Padding per OL e UL
///
#main ol,
#main ul,
.et_divi_builder #et_builder_outer_content .et_pb_module ol,
.et_divi_builder #et_builder_outer_content .et_pb_module ul {
  margin-left: $line-height * 2;
  padding-bottom: 0;
  margin-bottom: $line-height;
}


///
// Stile lista per UL e OL
///
#main ul li,
.et_divi_builder #et_builder_outer_content .et_pb_module ul li {
  list-style: circle;
}

.et_divi_builder #et_builder_outer_content .et_pb_module ol li {
  list-style: decimal;
}




//****************************************************************************//
//                                BLOCKQUOTE
//****************************************************************************//
blockquote {

}

/*
* Blockquote - citazione COLORI
*/
@each $palette, $section in $colors  {
  #page .#{$palette} blockquote { //TOCHK il #page è necessario?

    &::before {
      color: palette($palette, accent);
    }

    p {
      color: palette($palette, body-sec);
    }
  }
}


//****************************************************************************//
//                      COLORI TIPOGRAFIA
//****************************************************************************//
/*
 * Colori Tipografia
 */
#page h1 {color: main-colors(main, heading);}
#page h2 {color: main-colors(main, heading);}
#page h3 {color: main-colors(main, heading);}
#page h4 {color: main-colors(main, heading);}
#page h5 {color: main-colors(main, heading);}
#page p, ul, ol {color: main-colors(main, body);}
#page a,
#page a:visited {color: main-colors(main, link);}
#page a:hover {color: darken(main-colors(main, link), 10%);}

//TOCHK
/*
 * Colori Tipografia nelle Varie sezioni
 */
@each $palette, $sections in $colors {
  #page .#{$palette} {
    p, ul, ol {
      color: palette($palette, body)
    }

    h1, h2, h3, h4, h5 {
      color: palette($palette, heading);
    }

    a,
    a:visited {
      color: palette($palette, link);
    }
    &:hover {
      color: darken(palette($palette, link), 10%);
    }
  }
}


//****************************************************************************//
//                         LINK
//****************************************************************************//
//TOCHCK
/**
 * Decorazione link - Striking e DIVI builder
 **/
a,
#main a:link,
#main a:visited,
#main a:hover,
#main a:active,
#main a:focus {
  text-decoration: underline;

  &.button,
  &.et_pb_button {
    text-decoration: none;
  }
}



///
// Link DENTRO titoli - Colori
///
#page h1 > a,
#page h2 > a,
#page h3 > a,
#page h4 > a,
#page h5 > a {
  text-decoration: none;
  color: layout-colors(main, heading2);

  &:link {
    text-decoration:none;
  }

  &:hover {
    text-decoration: none;
    color: layout-colors(main, heading);
  }

  &:visited {
    text-decoration: none;
    color: layout-colors(main, heading2);
  }
}

///
// Link nei titoli - Colori nelle varie sezioni
///
@each $palette, $bg in $colors {
  #page .#{$palette} h1 > a,
  #page .#{$palette} h2 > a,
  #page .#{$palette} h3 > a,
  #page .#{$palette} h4 > a,
  #page .#{$palette} h5 > a {
    color: palette($palette, heading);

    &:link {
      color: palette($palette, heading);
    }

    &:visited {
      color: palette($palette, heading);
    }

    &:hover {
      color: palette($palette, heading);
    }
  }
}
