//****************************************************************************//
//*                                                                          *//
//*                           LAYOUT DELL'HEADER
//*                    in versione LOGO sopra NAVIGAZIONE
//*                              (tutto centrato)
//*                                                                          *//
//****************************************************************************//

/*
 * Resetta l'altezza del contenitore dell'header
 */
#header-sticker-wrapper {
  height: 0 !important;
}




//****************************************************************************//
//                HEADER
//****************************************************************************//

/*
 * BG dell'header
 */
#header {
  background-color: main-colors(header, bg);
  transition: all 250ms linear;
}

///
// Header Langing Page
///
.page-template-template_land_page #header {
  background: transparent;
  transition: all 0ms linear;
  position: relative;

  @include breakpoint-max(sm) {
    background-color: main-colors(header, bg);
  }

  ///
  // Logo landing page
  ///
  #logo,
  #logo_text {
    @include breakpoint-max(sm) {
      width: 100% !important;
    }
  }
}

///
// Header Langing Page quando sticky
///
.page-template-template_land_page .sticker_sticky #header {

}


/*
 * BG dell'header - da scrollato -  - solo su desktop
 */
@include breakpoint-min(xl) {
  .sticker_sticky #header {
    background-color: main-colors(header, bg);
    transition: all 250ms linear;
  }
}

/*
 * HEADER non sticky su mobile
 */
#header-sticker-wrapper.sticker_enabled #header {
  @include breakpoint-max(md) {
    position: relative !important;
  }
}



//****************************************************************************//
//                INNER HEADER
//****************************************************************************//

/*
 * Altezza
 */
#header .inner {
  height: $line-height * 5;
  transition: all 250ms linear;
}

/*
 * Altezza - da scrollato - solo su desktop
 */
@include breakpoint-min(xl) {
.sticker_sticky #header .inner {
    height: $line-height * 2;
    transition: all 250ms linear;
  }
}




//****************************************************************************//
//                LOGO
//****************************************************************************//

/*
 * Contenitore del logo
 */
#logo,
#logo_text {
  bottom: $line-height / 2;
  transition: all 250ms linear;

  @at-root .sticker_sticky #{&} {
    @include breakpoint-min(xl) { //quando l'header è sticcato - tolgo il bottom solo su desktop
      bottom: 0;
      transition: all 250ms linear;
    }

    img {
      @include breakpoint-min(xl) { //quando l'header è sticcato - rimpicciolisco il logo solo su desktop
        width: 40%;
        transition: all 250ms linear;
      }
    }
  }
}
