//****************************************************************************//
//*                                                                          *//
//*                           LAYOUT DELL'HEADER
//*                    in versione LOGO sopra NAVIGAZIONE
//*                              (tutto centrato)
//*                                                                          *//
//****************************************************************************//

/*
 * Resetta l'altezza del contenitore dell'header
 */
#header-sticker-wrapper {
  height: 0 !important;
}




//****************************************************************************//
//                HEADER
//****************************************************************************//

/*
 * BG dell'header
 */
#header {
  background-color: main-colors(header, bg);
  // transition: all 250ms linear;
  position: absolute;
  border-bottom: 1px solid rgba($bianco, 0.3);
}


/*
 * BG dell'header - da scrollato -  - solo su desktop
 */
@include breakpoint-min(xl) {
  .sticker_sticky #header {
    background-color: main-colors(header, bg);
    // transition: all 250ms linear;
  }
}





//****************************************************************************//
//                INNER HEADER
//****************************************************************************//

/*
 * Altezza
 */
#header .inner {
  position: relative;
  height: auto;
  // transition: all 250ms linear;
  display: flex;
  flex-flow: row;
  width: 100%;
  max-width: $website-width;
  flex-wrap: wrap;
  align-items: flex-end;
}

/*
 * Altezza - da scrollato - solo su desktop
 */
@include breakpoint-min(xl) {
.sticker_sticky #header .inner {
    // transition: all 250ms linear;
  }
}




//****************************************************************************//
//                LOGO
//****************************************************************************//

/*
 * Contenitore del logo //TODO @at-root directive is not working here
 */
#logo,
#logo_text {
  bottom: 0;
  // transition: all 250ms linear;
  position: relative;
  order: 1;
  padding: 0;
  height: auto;
  flex-basis: 15%;

  @include breakpoint-min(lg) {
    top: $line-height * 1.5;
  }

  a {
    text-align: left;
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }

  img {
    z-index: 1;
    position: absolute;
    filter: brightness(100);
    top: -$line-height * 3;
  }
}
