//****************************************************************************//
//*                                                                          *//
//*                           LAYOUT DELL'HEADER
//*                    in versione LOGO affiancato a NAVIGAZIONE
//*                                                                          *//
//****************************************************************************//
/*
 * Colore Header
 */
#main-header {
 background-color: main-color(header, bg);
 line-height: inherit;
}

 //****************************************************************************//
 //                 TOP BAR - decommentare per utilizzarla
 //****************************************************************************//
 #top-header {
   font-size: 1em;
   background: main-color(topbar, bg);

  a {
    color: main-color(topbar, link);
  }
 }
 #top-header .container {
   padding-top: $line-height / 2;
   padding-bottom: $line-height / 2;
 }

#top-header .et-social-icon a {
  font-size: font(p, fs);
  line-height: font(p, lh);
}


#et-secondary-nav {
  margin-bottom: 0;
}

#et-info,
#et-secondary-menu>ul>li a {
  padding-bottom: 0;
  font-size: font(p, fs);
  line-height: font(p, lh);
}
