//******************************************************************************/
//          HEADER
//******************************************************************************/

////
// HEADER non sticky su mobile
////
#header-sticker-wrapper.sticker_enabled #header {
  @include breakpoint-max(md) {
    position: relative !important;
  }
}

///
// logo
///
#logo,
#logo_text {
  @at-root .responsive #{&} {
    @include breakpoint-max(lg) {
      margin: 0 auto;
    }
  }

  @include breakpoint-max(sm) {
    display: block;
    width: 60%;
    float: none;
    height: auto;
  }
}

//******************************************************************************/
//         TOB BAR
//******************************************************************************/
.sticker_sticky #top_area { //TOP AREA NASCOSTA quando sticky

  @include breakpoint-max(md) {//la rendo di nuovo visible sotto i 979px

  }
}

#top_area {


  @include breakpoint-max(lg) {//la paddo sotto i 979px
    padding-top: $line-height / 2;
  }

  @include breakpoint-max(md) {
    display: flex;
    visibility: visible;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint-max(sm) {//rimuovo il padding sotto i 567px
    padding-top: 0;
  }

  @at-root .responsive #{&} { //rendo la top bar visibile anche sotto i 787px e ne dimezzo la larghezza
    @include breakpoint-max(md) {
      display: flex;
      width: 100%;
      flex-direction: row;
    }
  }

  .widget {
    @include breakpoint-max(md) { //li faccio cadere sotto i 567px
      margin-right: 0;
      box-sizing: border-box;
      //clear: both;
      //margin-top: $line-height / 2;
      &.widget_icl_lang_sel_widget {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        order: 0;
        text-align: center;
      }

      &.widget_text,
      &.widget_text_icl {
        margin-right: 0;
        flex-basis: 40%;
        flex-shrink: 0;

           }

      &.widget_nav_menu {
        flex-basis: 50%;
        flex-shrink: 0;
        z-index: 99;
        position: relative;

        li {
          text-align:right;
          width: 100%;
        }
      }

      &:last-child {
      //  margin-bottom: $line-height / 2;
      }
    }
  }
}

////
// Selettore della Lingua
////
#lang_sel_list {
  @include breakpoint-max(lg) {
    height: 2em;
    padding: 0;
  }
}

/******************************************************************************/
/*          NAVIGAZIONE MOBILE - HAMBURGER NAV
/******************************************************************************/
///
// Fix navigazione che copre tutto
///
.responsive #navigation {
  @include breakpoint-max(md) {
    display: inline-block;
    width: 100%;
    &::before {
      content: "\f0c9";
      font-family: 'FontAwesome';
      position: absolute;
    }
  }
}


///
// Colori e tipografia della nav a menu
///
.responsive .nav2select {
  @include form-field(p, 4);
  padding-left: 5em;
}
