//******************************************************************************/
//          HEADER
//******************************************************************************/

////
// HEADER non sticky su mobile
////
#header-sticker-wrapper.sticker_enabled #header {
  @include breakpoint-max(md) {
    position: relative !important;
  }
}

///
// HEADER inner
///
/*#header .inner {
  @include breakpoint-max(lg) {
    padding: 0 $line-height;
  }

  @include breakpoint-max(md) {
    padding: 0 ( $line-height / 2 );
  }
}*/


///
// logo
///
.responsive #logo,
.responsive #logo_text {
  @include breakpoint-max(lg) {
    margin-top: 0;
    margin-bottom: 0;
    justify-self: flex-start;
  }


  @include breakpoint-max(lg) {
    flex-basis: 25%;
    min-width: 150px;

    img {
      top: -$line-height * 4;
    }
  }



  @include breakpoint-max(md)   {
    img {
      min-width: 150px;
      z-index: 999999;
      top: 0;
      position: relative;
    }
  }

  @include breakpoint-max(sm) {
    flex-basis: 25%;
    width: 25%;
    flex-shrink: 0;
    min-width: 120px;
    float: none;
    height: auto;
    display: block;
  }

  @include breakpoint-max(sm) {
    min-width: 100px;
  }
}

//******************************************************************************/
//         TOB BAR
//******************************************************************************/


#top_area {



  @include breakpoint-max(md) {
    display: flex;
    visibility: visible;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 65%;
    order: 1;
    align-items: flex-end;
    flex-shrink: 1;
  }

  @at-root .responsive #{&} { //rendo la top bar visibile anche sotto i 787px e ne dimezzo la larghezza
    @include breakpoint-max(md) {
      display: flex;
    }
  }
}

////
// Selettore della Lingua
////
#lang_sel_list {
  @include breakpoint-max(lg) {
    height: 2em;
    padding: 0;
  }
  @include breakpoint-max(md) {
    order: -1;
  }
}

/******************************************************************************/
/*          NAVIGAZIONE MOBILE - HAMBURGER NAV
/******************************************************************************/
///
// Fix navigazione che copre tutto
///
.responsive #navigation {
  @include breakpoint-max(md) {
    display: inline-block;
    width: 100%;
    flex-basis: 100%;
    margin-top: $line-height / 2;
    &::before {
      content: "\f0c9";
      font-family: 'FontAwesome';
      position: absolute;
      top: 0.25em;
      left: 0.7em;
    }
  }
}


///
// Colori e tipografia della nav a menu
///
@include breakpoint-max(lg) {
  .responsive .nav2select {
    @include font(p);
    padding-top: bhpad(2);
    padding-bottom: bhpad(2);
    padding-left: 2em !important;
    border: 2px solid main-colors(header, border);
    -webkit-appearance: none;

    option {
      padding-left: 2em;
    }
  }
}
