//******************************************************************************/
//          HEADER
//******************************************************************************/

////
// HEADER non sticky su mobile
////
#header-sticker-wrapper.sticker_enabled #header {
  @include breakpoint-max(md) {
    position: relative !important;
  }
}

///
// HEADER inner
///
/*#header .inner {
  @include breakpoint-max(lg) {
    padding: 0 $line-height;
  }

  @include breakpoint-max(md) {
    padding: 0 ( $line-height / 2 );
  }
}*/


///
// logo
///
.responsive #logo,
.responsive #logo_text {
  @include breakpoint-max(lg) {
    margin-top: 0;
    margin-bottom: 0;
    justify-self: flex-start;
  }

  @include breakpoint-max(sm) {
    display: block;
    width: 60%;
    float: none;
    height: auto;
  }

  @include breakpoint-max(md)   {
    img {
      top: -4em;
      min-width: 80px;
      z-index: 999999;
    }
  }
}

//******************************************************************************/
//         TOB BAR
//******************************************************************************/
.sticker_sticky #top_area { //TOP AREA NASCOSTA quando sticky

  @include breakpoint-max(md) {//la rendo di nuovo visible sotto i 979px

  }
}

#top_area {



  @include breakpoint-max(md) {
    display: flex;
    visibility: visible;
    flex-wrap: wrap;
  }

  @at-root .responsive #{&} { //rendo la top bar visibile anche sotto i 787px e ne dimezzo la larghezza
    @include breakpoint-max(md) {
      display: flex;
    }
  }
}

////
// Selettore della Lingua
////
#lang_sel_list {
  @include breakpoint-max(lg) {
    height: 2em;
    padding: 0;
  }
}

/******************************************************************************/
/*          NAVIGAZIONE MOBILE - HAMBURGER NAV
/******************************************************************************/
///
// Fix navigazione che copre tutto
///
.responsive #navigation {
  @include breakpoint-max(md) {
    display: inline-block;
    width: 100%;
    &::before {
      content: "\f0c9";
      font-family: 'FontAwesome';
      position: absolute;
      top: 0.25em;
      left: 0.7em;
    }
  }
}


///
// Colori e tipografia della nav a menu
///
@include breakpoint-max(lg) {
  .responsive .nav2select {
    @include font(p);
    padding-top: bhpad(2);
    padding-bottom: bhpad(2);
    padding-left: 2em !important;
    border: 2px solid main-colors(header, border);
    -webkit-appearance: none;

    option {
      padding-left: 2em;
    }
  }
}
