#lang_sel_list a,
#lang_sel_list a:visited {
  font-size: font(p, fs);
  font-weight: family(ff, bolder);
  font-family: font(p, fm);
}

#lang_sel_list ul a.lang_sel_other:hover {
  color: main-colors(header, link) !important;
}

#lang_sel_list a.lang_sel_sel:hover,
#lang_sel_list a.lang_sel_sel,
#lang_sel_list a.lang_sel_sel,
#lang_sel_list a.lang_sel_sel:visited,
#lang_sel_list ul a.lang_sel_other,
#lang_sel li ul a:link,
#lang_sel_list ul a.lang_sel_other:visited {
  background-color: transparent !important;
}
