//****************************************************************************//
//*                                                                          *//
//*                             Box vari
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//
/*
 * Padding contenitore & Dimensioni titolo
 */
.et_pb_blurb {
  padding-top: $line-height;
  padding-left: $line-height;
  padding-right: $line-height;
  padding-bottom: bspad(4);
  border-bottom: 4px solid;

  @at-root .et_divi_builder #et_builder_outer_content  #{&}.et_pb_blurb_position_top h4 { //solo titolo top
    @include size(h3);
    margin-bottom: font(h3,lh);
    margin-top: 0;
    padding-bottom: 0;
  }
}


.et_pb_blurb {
  background-color: palette(main, bg-alt);
  color: palette(main, body-alt);

  @at-root #page #{&} p,
           #page #{&} h1,
           #page #{&} h2,
           #page #{&} h3,
           #page #{&} h4,
           #page #{&} h5 {
    color: palette(main, body-alt);
  }

  @at-root #page #{&} a {
    color: palette(main, accent-alt);
  }
}

.et_pb_main_blurb_image .et-pb-icon { // colore icona
  color: palette(main, body-alt) !important;

  &.et-pb-icon-circle { // icona con il cerchio
    background: transparent !important;
    border: palette(main, border) 2px solid;
  }
}


/*
 * colori
 */
@each $palette, $bg in $colors {
  .#{$palette} .et_pb_blurb {
    background-color: palette($palette, bg-alt);
    color: palette($palette, body-alt);
    border-bottom-color: mix(palette($palette, bg-alt), $nero, 50%);

    @at-root #page #{&} p,
             #page #{&} h1,
             #page #{&} h2,
             #page #{&} h3,
             #page #{&} h4,
             #page #{&} h5 {
      color: palette($palette, body-alt);
    }

    @at-root #page #{&} a {
      color: palette($palette, accent-alt);
    }

  .et_pb_main_blurb_image .et-pb-icon { // colore icona
    color: palette($palette, body-alt) !important;

    &.et-pb-icon-circle { // icona con il cerchio
      background: transparent !important;
      border: palette($palette, border) 2px solid;
    }
  }
 }
}
