//***********************************************************************//
//*                                                                     *//
//*                             I BOTTONI
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//
///
// Reset bottoni striking
///
.button span {
  line-height: inherit;
  color: inherit;
  padding: 0 1em;
}
.button.small span,
.button.medium span,
.button.large span { font-size: inherit; }


///
// Dimensioni bottoni striking
///
.button.small {
  @extend %button;
  @include button(small, 1, half);

  text-transform: uppercase;
  letter-spacing: 1px;
}

.button.medium {
  @extend %button;
  @include button(p, 2);

  text-transform: uppercase;
  letter-spacing: 1px;
}

.button.large {
  @extend %button;
  @include button(h3, 4);

  text-transform: uppercase;
  letter-spacing: 1px;
}



///
// COLORI BOTTONI STRIKING
///

#page .button.primary {
  @include button-color(none, main);

  [class^="icon-"] {
    color: #fff;
  }
}

//LOOP
@each $palette, $bg in $colors {

  #page .#{$palette} .button.primary,
  .et_divi_builder #et_builder_outer_content .#{$palette} a.button.primary {
    @include button-color(none, $palette);

    &:hover {
      @include button-color(hover, $palette);
    }
  }

  .#{$palette} [class^="icon-"]{
    color: palette($palette, button);
  }
}


//****************************************************************************//
//                         BOTTONI SCHELETRICI - COLORI
//                  include anche i colori dei bottoni di gravity pare
//                  ho cambiato la dichiarazione nel mixin dei bottoni per fare i bordi -
//****************************************************************************//

a.button.primary.skeleton--light,
.et_divi_builder #et_builder_outer_content a.button.primary.skeleton--light {

  color: #fff;
  background-color: transparent;
  border-color: #fff;

  &:hover {
    color: #111;
    background-color: #fff;
    border-color: #fff;
  }
}
