//***********************************************************************//
//*                                                                     *//
//*                             I BOTTONI
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//

//***********************************************************************//
//                              BOTTONI DIVI BUILDER - Dimensioni
//***********************************************************************//
.et_divi_builder #et_builder_outer_content {
  /*
   * Bottone Piccolo
   */
  .et_pb_button.size-small {
    @extend %button;
    @include button(h5, 1);

    font-weight: button-deco(small, weight);
    text-transform: uppercase;

    &:hover {
      @extend .et_pb_button.size-small;
    }
  }


  /*
   * Bottone Medio
   */
  //body #page-container a.et_pb_button[class*="et_pb_button_"],
  .et_pb_button.size-medium,
  body a.big-button { //TOCHK ultima dichiarazione per bottone merda nel blurb
    @extend %button;
    @include button(p, 2);

    font-weight: inherit; //TODO
    text-transform: uppercase;
    border-radius: 0; //TOCHK

    &:hover {
      @extend .et_pb_button.size-medium;
    }
    &:after { //il padding viene usato per correggere l'icona di DIVI
      font-size: inherit !important;
      line-height: inherit;
      padding-right: 1em;
      margin-left: 0.5em;
    }
  }


  /*
   * Bottone Grande
   */
  //body #page-container a.et_pb_button.size-large[class*="et_pb_button_"],
  .et_pb_button.size-large {
    @extend %button;
    @include button(h3, 4, half)

    font-weight: inherit; //TODO
    text-transform: uppercase;

    &:hover {
      @extend .et_pb_button.size-large;
    }
    &:after { //il padding viene usato per correggere l'icona di DIVI
      font-size: inherit !important;
      line-height: inherit;
      padding-right: 1em;
      margin-left: 0.5em;
    }
  }


  /*
   * Bottone Xtra Grande
   */
  .et_pb_button.size-x-large {
    @extend %button;
    @include button(h2, 6, half);

    font-weight: inherit; //TODO
    text-transform: uppercase;

    &:hover {
      @extend .et_pb_button.size-x-large;
    }

    &:after { //il padding viene usato per correggere l'icona di DIVI
      font-size: inherit !important;
      line-height: inherit;
      padding-right: 1em;
      margin-left: 0.5em;
    }
  }
}

a.et_pb_more_button:after {
  line-height: inherit;
}
.et_pb_button:after {
  font-size: inherit;
}

//****************************************************************************//
//                         BOTTONI STANDARD - COLORI
//                  include anche i colori dei bottoni di gravity pare
//****************************************************************************//

/*
 * Bottoni in szeioni di Base
 */
.et_divi_builder #et_builder_outer_content .et_pb_button {
  @include button-color(none, main);

  &:hover {
    @include button-color(hover, main);
  }
}

//TOCHK - BOTTONI SCHELETRICI in sezioni di base DA RIFARE!!
.bigblue {
  border-color: palette(main, body-alt) !important;
  background: palette(main, bg-alt);
  color: palette(main, body-alt) !important;

  &:hover {
    border-color: palette(main, bg-alt) !important;
    background: palette(main, body-alt);
    color: palette(main, bg-alt) !important;
  }
}

/*****
 * Loop Bottoni per varie sezioni
 */

@each $palette, $bg in $colors {
  .et_divi_builder #et_builder_outer_content .#{$palette} .et_pb_bg_layout_light.et_pb_module.et_pb_button {

    @include button-color(none, $palette);

    &:hover {
      @include button-color(hover, $palette);
    }
  }

//TOCHK - BOTTONI SCHELETRICI DA RIFARE!!
  .#{$palette}_color .bigblue {
    border-color: palette($palette, body-alt) !important;
    background: palette($palette, bg-alt);
    color: palette($palette, body-alt) !important;

    &:hover {
      border-color: palette($palette, bg-alt) !important;
      background: palette($palette, body-alt);
      color: palette($palette, bg-alt) !important;
    }
  }
}

//****************************************************************************//
//                         BOTTONI SCHELETRICI - COLORI
//                  include anche i colori dei bottoni di gravity pare
//                  ho cambiato la dichiarazione nel mixin dei bottoni per fare i bordi -
//****************************************************************************//

/*
 * Bottoni scheletrici in sezioni di Base
 */
#top .avia-button.avia-color-light {
  border-color: white;
  color: white;
  background: transparent;

  &:hover {
    border-color: palette(main, body-alt);
    color: palette(main, bg-alt);
    background: palette(main, body-alt);
    opacity: 1;
  }
}


/*****
 * Loop Bottoni scheletrici per varie sezioni
 */

@each $palette, $bg in $colors {
  #top .#{$palette}_color .avia-button.avia-color-light {
    border-color: white;
    color: white;
    background: transparent;

    &:hover {
      border-color: palette($palette, body-alt);
      color: palette($palette, bg-alt);
      background: palette($palette, body-alt);
      opacity: 1;
    }
  }
}
