//****************************************************************************//
//*                                                                     ******//
//*                             MODULI & FORMS
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//

//****************************************************************************//
//                            SPECIFICI PER GRAVITY FORMS
//****************************************************************************//
/*
 * Wrapper di gravity
 */
.gform_wrapper {
  padding: $line-height * 2;
}



/*
 * il LI che contiene i campi
 */
.gform_wrapper form li,
.gform_wrapper li,
#page-container .gform_wrapper .top_label li.gfield.gf_left_half,
#page-container .gform_wrapper .top_label li.gfield.gf_right_half {
  margin-bottom: $line-height * 1.5;
}

//correggo il padding di questi campi
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {
  padding-top: 0 !important;
}



/*
 * Contenitore campi gravity
 */
body .gform_wrapper label.gfield_label+div.ginput_container {
  margin-top: 0 !important;
}



/*
 * Etichette dei campi
 */
.gform_wrapper .top_label .gfield_label {
  @include form-label(p);
}



///
// Dimensioni dei campi
///
.gform_wrapper input[type=email],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper textarea,
.gform_wrapper select {
  @include form-field(p, 2);
  margin-bottom: 0;
}

.gform_wrapper select {
  height: $line-height * 1.5; //TODO
}

.gform_wrapper textarea.medium {
  height: $line-height * 6 !important;
}



///
// Descrizioni campi Gravity Forms
///
.gform_wrapper .top_label .gfield_description {

  @include form-desc(h5);

  padding: 0 !important;
}



///
// Sotto-etichette dei campi complessi (p.es nome)
///
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .gfield_time_ampm label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .ginput_complex label,
.gform_wrapper .instruction {

  @include form-desc(h5);

}



/*
 * Footer Gravity
 */
.gform_wrapper .gform_footer {
  padding: 0 !important;
  margin: $line-height * 3 0 0 0 !important;
  text-align: center;
}


///
// Bottone Gravity
///
.entry-content .gform_wrapper .gform_footer input.button,
.entry-content .gform_wrapper .gform_footer input[type=submit] {
  @extend %button;
  @include button(h3, 2, half);

  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
}




//****************************************************************************//
//                     Colori FORM, LABEL e DESCRIZIONI CAMPI
//                     di tutte le varie sezioni
//****************************************************************************//
@each $palette, $bg in $colors {
  .#{$palette}_color .gform_wrapper {
    background: palette($palette, form-bg); //BG del form

    a {
      color: palette($palette, form-link); //Colore link
    }

    input,
    textarea,
    select { //Colore Bordo dei campi
      border-color: darken(palette($palette, form-bg), 2.5%);

      &:focus { //colore bordo campi focused
        border-color: darken(palette($palette, form-bg), 20%);
      }
    }

    label { //colore del label
      color: palette($palette, form-body)
    }

    .gfield_date_day label,
    .gfield_date_month label,
    .gfield_date_year label,
    .gfield_time_ampm label,
    .gfield_time_hour label,
    .gfield_time_minute label,
    .ginput_complex label,
    .instruction,
    .gfield_description { //colore sottoetichette e descrizione campi
      color: palette($palette, form-desc)
    }

    input.button,
    input[type=submit] { //colore bottone
      @include button-color;
      cursor: pointer;

      &:hover { //hover bottone
        @include button-color(hover);
      }
    }
  }
}
