/*
 * Wrapper di gravity
 */
.gform_wrapper {
  padding: $line-height * 1.5;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;

  @include breakpoint-max(xs) {
    max-width: 120% !important;
    margin-left: -$line-height !important;
    margin-right: -$line-height !important;
    //width: 120% !important;
  }
}



//****************************************************************************//
//                  CAMPI di GRAVITY FORMS e GENERICI
//****************************************************************************//
///
// Dimensioni dei campi - Genrici e di Gravity
///
 input[type=email],
 input[type=number],
 input[type=password],
 input[type=tel],
 input[type=text],
 input[type=url],
 textarea,
 input.text_input,
 textarea.textarea,
 select {
  @include form-field(h5, 2);
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

input:focus,
textarea:focus { //FIX - il focus di queste aree perde il bordo da 2px - devo metterlo a mano
  @include form-field(h5, 2);
  margin-bottom: 0;
}


/**
 * Gravity Forms UL
 */
#main .gform_fields {
  list-style: none !important;
  padding-left: 0;
  margin-left: -$line-height / 2;
  margin-right: -$line-height / 2;
  display: flex;
  flex-wrap: wrap;
}


/**
 * Campo Gravity
 */
.gfield {
  list-style: none !important;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  flex-basis: 100%;
  padding: 0 $line-height / 2;
  margin-bottom: $line-height / 1.5;
  //overflow: hidden;
  align-self: auto;
  flex-grow: 0;
  flex-shrink: 0;

  &.gf_right_half,
  &.gf_left_half {
    width: 50%;
    flex-basis: 50%;
  }
}

.gf_name_has_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -$line-height / 2;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.name_first,
.name_last {
  width: 50%;
  flex-basis: 50%;
  padding: 0 $line-height / 2;
  display: block;
}


/*
 * Label
 */
.gfield_label {
  @include form-label(h5);
}


/*
 * Label Complex
 */
.ginput_complex label {
  @include form-label(h5);
  display: block;
}

.gform_wrapper .top_label .gfield_label_before_complex {
  display: none !important;
}


/*****************************************************************************/
/** CAMPI SPECIFICI
/*****************************************************************************/
/**
 * Radio
 */
#main .gfield_radio {
  margin: 0;
  font-size: 1em;
  list-style: none;

  li {
    @include font(small, $mt: 0, $mb: 0);
    list-style: none;

    input {
      margin-right: $line-height / 4;
    }

    label {
      font-size: 1em;
      line-height: inherit;
    }
  }
}

/**
 * Text Area
 */
textarea.medium {
  height: $line-height * 6;
}


/**
 * Select
 */
.gform_wrapper select {
  height: $line-height * 1.5; //TODO
}





//****************************************************************************//
//                  DESC E SUB LABEL di GRAVITY FORMS
//****************************************************************************//
///
// Descrizioni campi Gravity Forms
///
.gfield_description {
  @include form-desc(small);
  padding-top: size(small, lh) / 4;
}

// .gform_wrapper ul li.gfield.field_sublabel_above.field_description_below+li.gfield {
//   margin-top: inherit !important;
// }

///
// Sotto-etichette dei campi complessi (p.es nome)
///
.gfield_date_day label,
.gfield_date_month label,
.gfield_date_year label,
.gfield_time_ampm label,
.gfield_time_hour label,
.gfield_time_minute label,
.instruction {
  @include form-desc(small);
}

//****************************************************************************//
//                     FOOTER & BOTTONE
//****************************************************************************//
/*
 * Footer Gravity
 */
.gform_wrapper .gform_footer {
  text-align: center;
}


///
// Bottone Gravity
///
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_footer input.button:focus,
.gform_wrapper .gform_footer input[type=submit]:focus,
.gform_wrapper .gform_footer input.button:active,
.gform_wrapper .gform_footer input[type=submit]:active, //colore bottone
.gform_wrapper .gform_footer input.button:checked,
.gform_wrapper .gform_footer input[type=submit]:checked {
  @extend %button;
  @include button(h3, 4, half);

  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}


//****************************************************************************//
//                     Colori FORM, LABEL e DESCRIZIONI CAMPI
//                     di tutte le varie sezioni
//****************************************************************************//
/*
 * Colore Sezione standard
 */
#page .gform_wrapper {
  background: main-colors(main, form-bg); //BG del form
  border-bottom-color: main-colors(main, border); //border bottom del form
  box-shadow: $card-shadow;

  a {
    color: main-colors(main, form-link); //Colore link

    &:hover {
      color: main-colors(main, form-link); //Colore link
    }
  }

  input,
  textarea,
  select { //Colore Bordo dei campi
    border-color: darken(main-colors(main, form-bg), 2.5%);
    background: #fff;

    &:focus { //colore bordo campi focused
      border-color: darken(main-colors(main, form-bg), 20%);
    }
  }

  label { //colore del label
    color: main-colors(main, form-body)
  }

  .gfield_date_day label,
  .gfield_date_month label,
  .gfield_date_year label,
  .gfield_time_ampm label,
  .gfield_time_hour label,
  .gfield_time_minute label,
  .ginput_complex label,
  .instruction,
  .gfield_description { //colore sottoetichette e descrizione campi
    color: main-colors(main, form-desc)
  }

  // campi HTML e SECTION
  @at-root #page #{&} p {
    color: main-colors(main, form-body);
  }

  @at-root #page #{&} h2,
           #page #{&} h3 {
    color: main-colors(main, heading2); //TOCR
  }

  .gsection { // Colore bordo bottom del campo SECTION
    color: main-colors(main, form-body);
  }

  //BOTTONE
  input.button,
  input[type=submit],
  input.button:focus,
  input[type=submit]:focus,
  input.button:active,
  input[type=submit]:active, //colore bottone
  input.button:checked,
  input[type=submit]:checked { //colore bottone
    @include button-color;
    cursor: pointer;

    &:hover { //hover bottone
      @include button-color(hover);
    }
  }
}



/*
 * Loop sezioni Colore
 */
@each $palette, $bg in $colors {
#page .#{$palette} .gform_wrapper {
    background: palette($palette, form-bg); //BG del form
    border-bottom-color: darken(palette($palette, form-bg), 50%); //border bottom del form

    a {
      color: palette($palette, form-link); //Colore link
      &:hover {
        color: palette($palette, form-link); //Colore link
      }
    }

    input,
    textarea,
    select { //Colore Bordo dei campi
      border-color: darken(palette($palette, form-bg), 2.5%);
      background: #fff;

      &:focus { //colore bordo campi focused
        border-color: darken(palette($palette, form-bg), 20%);
      }
    }

    label { //colore del label
      color: palette($palette, form-body)
    }

    .gfield_date_day label,
    .gfield_date_month label,
    .gfield_date_year label,
    .gfield_time_ampm label,
    .gfield_time_hour label,
    .gfield_time_minute label,
    .ginput_complex label,
    .instruction,
    .gfield_description { //colore sottoetichette e descrizione campi
      color: palette($palette, form-desc)
    }

    // campi HTML e SECTION
    @at-root #page #{&} p {
      color: palette($palette, form-body);
    }
    @at-root #page #{&} h2,
             #page #{&} h3 {
      color: palette($palette, form-body); //TOCR
    }

    .gsection { // Colore bordo bottom del campo SECTION
      border-bottom-color: darken(palette($palette, form-bg), 50%);
      color: palette($palette, form-body);
    }

    //BOTTONE
    input.button,
    input[type=submit],
    input.button:focus,
    input[type=submit]:focus,
    input.button:active,
    input[type=submit]:active, //colore bottone
    input.button:checked,
    input[type=submit]:checked { //colore bottone
      @include button-color;
      cursor: pointer;

      &:hover { //hover bottone
        @include button-color(hover);
      }
    }
  }
}

/*****
* VALIDATION */

.validation_error {
  @include font(small, $mt: 0, $mb: size(h5, lh));
  padding: size(h5, lh);
  background: rgba(red, 0.2);
}

.gfield_description.validation_message {
  color: red !important;
}


/************
* datepicker
*************/

.ui-datepicker {
  width: 270px;
  background: #fff;
  padding: $line-height / 4;
  box-shadow: $card-shadow;
  border: 1px solid rgba($nero, 0.2);
}

.ui-datepicker-header {
  display: flex;
  justify-content: space-between;
  padding: $line-height / 2;
  margin: 0 -$line-height / 4;
  background: rgba($rosso-vero, 0.8);
}


.ui-datepicker-prev,
.ui-datepicker-next {
  cursor: pointer;
  text-decoration: none;
  flex-basis: 10%;

  span {
    display: none;
  }

  &::before {
    color: $bianco;
  }
}

.ui-datepicker-prev {
  order: 0;

  &::before {
    content: "◀";
  }
}

.ui-datepicker-next {
  order: 2;

  &::before {
    content: "▶";
  }
}

.ui-datepicker-title {
  flex-basis: 60%;
}
.ui-datepicker-month,
.ui-datepicker-year {
  width: 45%;
}

.ui-datepicker-month {
  padding-right: 2.5%;
  float: left;

}
.ui-datepicker-year {
  padding-left: 2.5%;
  float: right;
}

.ui-datepicker-calendar {
  width: 100%;
  margin-top: $line-height;
  margin-bottom: $line-height / 2;
  font-size: 0.85em;
  td {
    padding: 0 $line-height / 3;
    text-align: center;
  }
}
