//****************************************************************************//
//*                                                                     ******//
//*                             MODULI & FORMS
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//

/*
 * Reset Background di tutti i campi
 */
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
textarea,
textarea.textarea,
select {
  background: #fff;
}


//****************************************************************************//
//                  CONTENITORE & STRUTTURA di GRAVITY FORMS
//****************************************************************************//
/*
 * Wrapper di gravity
 */
.gform_wrapper {
  padding: $line-height * 1.5;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  border-bottom: 6px solid;
  $pad: bspad(6);
  padding-bottom: bspad(6) + ($line-height / 2em);

  @include breakpoint-max(xs) {
    max-width: 120% !important;
    margin-left: -10% !important;
    width: 120% !important;
  }
}

.et_pb_column_4_4 .gform_wrapper {
  @include breakpoint-max(xs) {
    margin-left: -2em;
  }
}


/*
 * il LI che contiene i campi
 */
.gform_wrapper form li,
.gform_wrapper li,
.gform_wrapper .top_label li.gfield.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_right_half {
  margin-bottom: $line-height * 1.5;
}
.gform_wrapper ul.gform_fields li.gfield,
.gform_wrapper .top_label li.gfield.gf_right_half {
  padding-right: 0;
  margin-top: 0;
}
.gform_wrapper li.gfield.field_description_below+li.gsection {
  margin-top: inherit !important;
}

/*
 * Correzione padding campi complessi
 */
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {
  padding-top: 0;
}

.gform_wrapper .top_label li.gfield.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_right_half {
  @include breakpoint-max(xl) {
    width: 100%;
  }

  @include breakpoint-max(md) {
    width: 49%;
  }

  @include breakpoint-max(xs) {
    width: 100%;
  }
}


//****************************************************************************//
//                 CAMPI HTML & SECTION di GRAVITY FORMS
//****************************************************************************//
/*
 *  Il Contenitore del campo HTML
 */
.gform_wrapper .gfield_html.gfield_no_follows_desc,
.gform_wrapper li.gfield_html {
  margin-top: 0;
  padding-top: 0;
  max-width: 100%;
}
//titolo h3 - senza margine
.gform_wrapper li.gfield_html h3 {
    margin-bottom: 0;
}

/*
 * Il Contenitore del campo SEZIONE
 */
.gform_wrapper .gsection {
  margin: 0;
  border-bottom: 1px solid;
  padding-bottom: bspad(1) - ($line-height / 2);
  padding-top: $line-height / 2;
  margin-bottom: $line-height * 2;

  // Titolo Sezione
  h2 {
    @include font(h3)
    display: block;
    border: 0px;
  }
}

/*
 * Contenuto / Descrizione del campo SECTION
 */
// Larghezza
.gform_wrapper .top_label .gsection_description {
  width: 100%;
}
// Tipografia
.gform_wrapper .gsection_description {
  @include font(p, $mt: 0);
  padding: 0;
}

//****************************************************************************//
//                  ETICHETTE di GRAVITY FORMS
//****************************************************************************//
/*
 * Contenitore Label - resetto il Margine
 */
body .gform_wrapper label.gfield_label+div.ginput_container {
  margin-top: 0 !important;
}


/*
 * Etichette dei campi
 */
.gform_wrapper .top_label .gfield_label {
  @include form-label(p);
}




//****************************************************************************//
//                  CAMPI di GRAVITY FORMS e GENERICI
//****************************************************************************//
///
// Dimensioni dei campi - Genrici e di Gravity
///
 input[type=email],
 input[type=number],
 input[type=password],
 input[type=tel],
 input[type=text],
 input[type=url],
 textarea,
 input.text_input,
 textarea.textarea,
 select {
  @include form-field(p, 2);
  margin-bottom: 0;
}

input.text_input:focus,
textarea.textarea:focus { //FIX - il focus di queste aree perde il bordo da 2px - devo metterlo a mano
  @include form-field(p, 2);
  margin-bottom: 0;
}


/*
 * Altezza Select
 */
.gform_wrapper select {
  height: $line-height * 1.5; //TODO
}


/*
 * Altezza Text Area
 */
.gform_wrapper textarea.medium {
  height: $line-height * 6;
}


/*
 * Larghezza campi medi
 */
.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium {
  width: 100%;
}




//****************************************************************************//
//                  DESC E SUB LABEL di GRAVITY FORMS
//****************************************************************************//
///
// Descrizioni campi Gravity Forms
///
.gform_wrapper .top_label .gfield_description {
  @include form-desc(small);
  padding-top: size(small, lh) / 2;
  padding-bottom: size(small, lh) / 2;
}

///
// Sotto-etichette dei campi complessi (p.es nome)
///
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .gfield_time_ampm label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .ginput_complex label,
.gform_wrapper .instruction {
  @include form-desc(small);
  padding-top: size(small, lh) / 2;
  padding-bottom: size(small, lh) / 2;
}



//****************************************************************************//
//                     FOOTER & BOTTONE
//****************************************************************************//
/*
 * Footer Gravity
 */
.gform_wrapper .gform_footer {
  padding: 0 !important;
  margin: 0 0 0 0 !important;
  text-align: center;
}


///
// Bottone Gravity
///
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit] {
  @extend %button;
  @include button(h3, 4, half);

  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}




//****************************************************************************//
//                     Colori FORM, LABEL e DESCRIZIONI CAMPI
//                     di tutte le varie sezioni
//****************************************************************************//
/*
 * Colore Sezione standard
 */
.gform_wrapper {
  background: main-colors(main, form-bg); //BG del form
  border-bottom-color: main-colors(main, border); //border bottom del form

  a {
    color: main-colors(main, form-link); //Colore link
  }

  input,
  textarea,
  select { //Colore Bordo dei campi
    border-color: darken(main-colors(main, form-bg), 2.5%);

    &:focus { //colore bordo campi focused
      border-color: darken(main-colors(main, form-bg), 20%);
    }
  }

  label { //colore del label
    color: main-colors(main, form-body)
  }

  .gfield_date_day label,
  .gfield_date_month label,
  .gfield_date_year label,
  .gfield_time_ampm label,
  .gfield_time_hour label,
  .gfield_time_minute label,
  .ginput_complex label,
  .instruction,
  .gfield_description { //colore sottoetichette e descrizione campi
    color: main-colors(main, form-desc)
  }

  // campi HTML e SECTION
  @at-root #page #{&} p {
    color: main-colors(main, form-body);
  }

  @at-root #page #{&} h2,
           #page #{&} h3 {
    color: main-colors(main, heading2); //TOCR
  }

  .gsection { // Colore bordo bottom del campo SECTION
    color: main-colors(main, form-body);
  }

  //BOTTONE
  input.button,
  input[type=submit] { //colore bottone
    @include button-color;
    cursor: pointer;

    &:hover { //hover bottone
      @include button-color(hover);
    }
  }
}



/*
 * Loop sezioni Colore
 */
@each $palette, $bg in $colors {
  .#{$palette} .gform_wrapper {
    background: palette($palette, form-bg); //BG del form
    border-bottom-color: darken(palette($palette, form-bg), 50%); //border bottom del form

    a {
      color: palette($palette, form-link); //Colore link
    }

    input,
    textarea,
    select { //Colore Bordo dei campi
      border-color: darken(palette($palette, form-bg), 2.5%);

      &:focus { //colore bordo campi focused
        border-color: darken(palette($palette, form-bg), 20%);
      }
    }

    label { //colore del label
      color: palette($palette, form-body)
    }

    .gfield_date_day label,
    .gfield_date_month label,
    .gfield_date_year label,
    .gfield_time_ampm label,
    .gfield_time_hour label,
    .gfield_time_minute label,
    .ginput_complex label,
    .instruction,
    .gfield_description { //colore sottoetichette e descrizione campi
      color: palette($palette, form-desc)
    }

    // campi HTML e SECTION
    @at-root #page #{&} p {
      color: palette($palette, form-body);
    }
    @at-root #page #{&} h2,
             #page #{&} h3 {
      color: palette($palette, form-body); //TOCR
    }

    .gsection { // Colore bordo bottom del campo SECTION
      border-bottom-color: darken(palette($palette, form-bg), 50%);
      color: palette($palette, form-body);
    }

    //BOTTONE
    input.button,
    input[type=submit] { //colore bottone
      @include button-color;
      cursor: pointer;

      &:hover { //hover bottone
        @include button-color(hover);
      }
    }
  }
}
