//****************************************************************************//
//*                                                                          *//
//*                            TABELLE VARIE
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//

//****************************************************************************//
//                       STILI DI ENFOLD per Tabelle Standard
//****************************************************************************//
/*
 * Cella
 */
td {
  font-size: font(h5, fs);
  line-height: font(h5, lh) / 2;
  padding: (font(h5, lh) / 2) 2em;
  border: 0;
}


/*
 * La TH e la TD della prima TR
 */
tr:first-child th,
tr:first-child td {
  border-top-style: solid;
  border-top-width: 0;
}


/*
 * La prima TH e la prima TD delle TR
 */
tr th:first-child,
tr td:first-child {
  border-left-style: solid;
  border-left-width: 0;
}




//****************************************************************************//
//                         COLORI   TABELLE STANDARD
//****************************************************************************//

@each $palette, $bg in $colors {

  //BG e colore delle celle dispari
  .#{$palette}_color tr:nth-child(odd) {
    background: palette($palette, bg);
    color: palette($palette, body)
  }

  //BG e colore delle celle dispari
  .#{$palette}_color tr:nth-child(even) {
    background: palette($palette, bg-alt);
    color: palette($palette, body-alt);
  }
}
