
//****************************************************************************//
//*                                                                     ******//
//*                   STILI WIDGET
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
/*
 * widge
 */

section.widget {
  margin-bottom: $line-height * 2;
}

/*
 * Titoli - tipografia
 */
#sidebar .widgettitle,
#footer h3.widgettitle {
  @include font(h3, $mt: 0, $mb: 0, $fm: secondary, $wt: normal);
}




//****************************************************************************//
//                 LISTA ARTICOLI / PORTFOLI
//                Di Wordpress
//****************************************************************************//

.widget_subnav li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_recent_posts li,
.widget_popular_posts li,
.widget_related_posts li,
.widget_authors li,
.widget_twitter li,
.widget_pages li,
.widget_links li,
.widget_categories li,
.widget_archive li,
.widget_meta li,
.widget_rss li,
.flexipages_widget li {
  padding: 0;
  border-bottom: 0;
}

.widget_subnav li a:before,
.widget_recent_entries li a:before,
.widget_recent_comments li a:first-child:before,
.widget_pages li a:before,
.widget_links li a:before,
.widget_categories li a:before,
.widget_archive li a:before,
.widget_meta li a:before,
.widget_rss li a:before,
.flexipages_widget li a:before {
  content: "\00BB";
  margin-top: -0.2em;
  line-height: 2em;
  font-size: 1em;
  display: inline-block;;
}




//****************************************************************************//
//                 LISTA ARTICOLI / PORTFOLI
//                Di striking
//****************************************************************************//
/*
 * Elemento LI
 */
.posts_list li,
#sidebar .posts_list li,
#footer .posts_list li {
  padding: $line-height / 2 0;
  border-bottom: 0;
}


/*
 * IMG
 */
.posts_list .thumbnail,
#sidebar .posts_list .thumbnail,
#footer .posts_list .thumbnail {
  margin-top: 0;
  margin-bottom: 0;
}

.posts_list .thumbnail img {
  height: blh(1) * 2;
  width: blh(1) * 2;
}


/*
 * Contenitore INFO
 */
.posts_list .post_extra_info {
  display: table-cell;
  vertical-align: middle;
  height: $line-height * 2;
  @include font(p, $mb: 0, $mt: 0, $fm: primary);

  a {
  //  vertical-align: middle;
  }
}

/*
 * LINK
 */
.posts_list li a,
#sidebar .posts_list li a,
#footer .posts_list li a {
  line-height: inherit;

  &:hover {
      color: main-colors(main, body-sec);
  }
}

//****************************************************************************//
//                           MENU
//****************************************************************************//
.widget_nav_menu li {
  position: relative;
  padding-top: 0;

    a {
    @include font(p, $mt: 0, $mb: 0);
    padding-bottom: 0;
    padding-top: 0;
    background-image: none;
    border-bottom: 0;

    &:hover {
        color: main-colors(main, body-sec) !important;
    }
  }

  ul {
    padding: 0 !important;
    margin-left: $line-height / 2 !important;
  }

  &::before {
    content: "\00BB";
    top: -0.05em;
    position: absolute;
    @include size(p);
  }
}

/*****************************************************************************/
/** Widget Text
/****************************************************************************/
.widget_text p {
  @include font(p);

  &:last-child {
    margin-bottom: 0;
  }
}
