//****************************************************************************//
//                        FEATURED HEADER BLOG
//****************************************************************************//
///
// ARCHIVIO
///
 .category #feature {
   background-image: url(https://ilvignetodiroddi.com/files/2020/01/blog.jpg);
   background-position: center center;
 }

///
// SINGLE POST
///
 .single-post #feature {
   background-image: url(https://ilvignetodiroddi.com/files/2020/01/blog.jpg);
   background-position: center center;
 }

///
// CATEGORIE SPECIFICHE
///
.category-reviews #feature,
.category-critica #feature,
.single-post .category-reviews #feature,
.single-post .category-critica #feature {
  background-image: url(https://ilvignetodiroddi.com/files/2020/01/recensioni.jpg);
  background-position: center center;
}
// .category-reviews #feature,
.category-menu-speciali #feature,
// .single-post .category-reviews #feature,
.single-post .category-menu-speciali #feature {
  background-image: url(https://ilvignetodiroddi.com/files/2020/01/menu.jpg);
  background-position: center center;
}

// .category-reviews #feature,
.category-foto #feature,
// .single-post .category-reviews #feature,
.single-post .category-foto #feature {
  background-image: url(https://ilvignetodiroddi.com/files/2020/01/foto.jpg);
  background-position: center center;
}
