//****************************************************************************//
//                        FEATURED HEADER BLOG
//****************************************************************************//
///
// ARCHIVIO
///
.archive.category #feature {
  background-image: url(http://risveglioinlanga.langhe.net/files/2017/06/pietra.jpg);
  background-position: top center;
}



///
// SINGLE POST
///
 .single-post #feature {
   background-image: url(http://risveglioinlanga.langhe.net/files/2017/06/pietra.jpg);
   background-position: top center;
 }

///
// CATEGORIE SPECIFICHE
///
.category-reviews #feature,
.category-critica #feature,
.single-post .category-reviews #feature,
.single-post .category-critica #feature {
  background-image: url();
  background-position: bottom center;
}


///
// BREADCRUMBS
///
.category #breadcrumbs {
  padding-left: $line-height * 2;
}

.single-post #breadcrumbs {
  padding-left: $line-height * 2;
}
