//*==========================================================================*//
//*                                                                          *//
//*                         LISTATI 1 COLONNA
//*                                                                          *//
//*==========================================================================*//
//****************************************************************************//
//                         CONTENITORE
//****************************************************************************//
.entry {
  margin-bottom: $line-height * 3;
}


//****************************************************************************//
//                         IMMAGINI LISTATI
//****************************************************************************//

/*
 * Ombra immagine listati
 */
.category.has-shadow .image_shadow_wrap::before,
.category.has-shadow .image_shadow_wrap::after {
  content: none;
}


/*
 * Decorazione immagini listati
 */
.image_frame {
  border-bottom-color: main-colors(main, accent)
}

// loop per tutte le sezioni
@each $palette, $bg in $colors {
  .category .#{$palette}.image_frame {
    border-bottom-color: palette($palette, accent)
  }
}

// Resetto bordo originale
.image_frame img {
  border-top: 0;
  border-bottom: 0;
}




//****************************************************************************//
//                          TITOLO e META
//****************************************************************************//
.entry_info .entry-title {
  @include font(h3);
}

#page .entry .entry_title a,
#page .entry .entry_title a:visited {
  color: main-colors(main, heading);
}

.entry .entry_meta {
  @include font(h5);

  @at-root #page #{&} a,
           #page #{&} a:visited {
    color: main-colors(main, heading);
  }
}

#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {
  color: inherit;
}


//****************************************************************************//
//                         EXCERPT e READ MORE
//****************************************************************************//
.entry_content {

  p {
    margin-bottom: 0;
  }
}


//****************************************************************************//
//                         PAGINAZIONE
//****************************************************************************//
.wp-pagenavi {
  height: auto;
  padding: 0;
  position: relative;
  display: block;

  span.current,
  a,
  a:link {
    @include font(p, $fm: primary);
    padding: $line-height / 4 $line-height / 2;
    display: inline-block;
    margin-left: $line-height / 2;

    @include breakpoint-max(md) {
      @include font(p);
      padding: ($line-height / 2);
    }
  }

  span.current {
    margin-right: 0;
    background: main-colors(main, bg-alt);
  }

  a {
    margin-right: 0;

    &:hover {
      background: main-colors(main, bg-alt);
    }
  }

  @at-root #page #{&} a {
    text-decoration: none;
  }
}
