//*==========================================================================*//
//*                                                                          *//
//*                         LISTATI 1 COLONNA
//*                                                                          *//
//*==========================================================================*//
//****************************************************************************//
//                         CONTENITORE
//****************************************************************************//
.entry {
  margin-bottom: $line-height * 3;
}




//****************************************************************************//
//                        FEATURED HEADER
//****************************************************************************//
/*
 * Feat Header Categorie
 */
.category-reviews #feature,
.category-critica #feature {
  background-image: url(http://caneuva.com/files/2016/07/DSC_11670.jpg);
  background-position: bottom center;
}

.category-news #feature,
.category-news-en #feature {
  background-image: url(http://caneuva.com/files/2016/07/DSC1905.jpg);
  background-position: bottom center;
}




//****************************************************************************//
//                         IMMAGINI LISTATI
//****************************************************************************//

/*
 * Ombra immagine listati
 */
.category.has-shadow .image_shadow_wrap::before,
.category.has-shadow .image_shadow_wrap::after {
  content: none;
}


/*
 * Decorazione immagini listati
 */
.image_frame {
  border-bottom-color: main-colors(main, accent)
}

// loop per tutte le sezioni
@each $palette, $bg in $colors {
  .category .#{$palette}.image_frame {
    border-bottom-color: palette($palette, accent)
  }
}

// Resetto bordo originale
.image_frame img {
  border-top: 0;
  border-bottom: 0;
}




//****************************************************************************//
//                          TITOLO e META
//****************************************************************************//
.entry_info .entry-title {
  @include font(h3);
}

#page .entry .entry_title a,
#page .entry .entry_title a:visited {
  color: main-colors(main, heading);
}

.entry .entry_meta {
  @include font(h5);

  @at-root #page #{&} a,
           #page #{&} a:visited {
    color: main-colors(main, heading);
  }
}

#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {
  color: inherit;
}


//****************************************************************************//
//                         EXCERPT e READ MORE
//****************************************************************************//
.entry_content {

  p {
    margin-bottom: 0;
  }
}
