//*==========================================================================*//
//*                                                                          *//
//*                         LISTATI 1 COLONNA
//*                                                                          *//
//*==========================================================================*//
//****************************************************************************//
//                         CONTENITORE
//****************************************************************************//
.hentry.entry {
  margin-bottom: $line-height * 3;
  //box-shadow: $card-shadow;
  //background: #fff;

  @include breakpoint-max(xs) {
    margin-left: $line-height / -2;
    margin-right: $line-height / -2;
  }
}

.hentry.entry {
  &.entry_frame {
    padding: 0;
  }
}

#page .color--light .hentry.entry {
  background: palette(color--light, bg-alt);
  .entry-title a {
    color: palette(color--light, body-alt);

    &:hover {
      color: palette(color--light, body-alt);
    }
  }
}

//****************************************************************************//
//                         IMMAGINI LISTATI
//****************************************************************************//

/*
 * Ombra immagine listati
 */
.category.has-shadow .image_shadow_wrap::before,
.category.has-shadow .image_shadow_wrap::after {
  content: none;
}

.category .image_styled {
  margin-bottom: 0;
  display: block;
}
/*
 * Decorazione immagini listati
 */
.image_frame {
  border-bottom-color: main-colors(main, accent)
}

// loop per tutte le sezioni
@each $palette, $bg in $colors {
  .category .#{$palette}.image_frame {
    border-bottom-color: palette($palette, accent)
  }
}

// Resetto bordo originale
.image_frame img {
  border-top: 0;
  border-bottom: 0;
}




//****************************************************************************//
//                          TITOLO e META
//****************************************************************************//
.entry_info {
  padding: 0 0;

  @at-root .one_third #{&} {
    padding: 0 $line-height / 2;
  }

  @include breakpoint-max(xs) {
    padding-right: $line-height / 2;
    padding-left: $line-height / 2;
  }
}

.entry_info .entry-title {
  @include font(h3);
  margin-bottom: size(h3, mb) / 2;

  @include breakpoint-max() {
    @include m-size(h3);
    margin-bottom: m-size(h3, mb) / 2;
  }
}

.one_third .entry_info .entry_title {
  @include font(p, $fm: secondary);
  text-transform: uppercase;
}

#page .entry .entry_title a,
#page .entry .entry_title a:visited {
  color: main-colors(main, heading);
}

.entry .entry_meta {
  @include font(h5);
  display: none;

  @at-root #page #{&} a,
           #page #{&} a:visited {
    color: main-colors(main, heading);
  }
}

#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {
  color: main-colors(main, heading);
}


//****************************************************************************//
//                         EXCERPT e READ MORE
//****************************************************************************//
.entry_content {
  padding: 0 0 $line-height;
  margin-top: 0;

  @include breakpoint-max(xs) {
    padding-right: $line-height / 2;
    padding-left: $line-height / 2;
  }

  p {
    margin-bottom: 0;
  }

  .read_more_wrap {
    margin-top: $line-height;
    text-align: right;
  }
}

#page .read_more_wrap a:hover,
.read_more_wrap a:hover {
  color: main-colors(main, link);
}


//****************************************************************************//
//                         PAGINAZIONE
//****************************************************************************//
.wp-pagenavi {
  height: auto;
  padding: 0;
  position: relative;
  display: block;

  span.current,
  a,
  a:link {
    @include font(p, $fm: primary);
    padding: $line-height / 4 $line-height / 1.5;
    border-radius: 100%;
    display: inline-block;
    margin-left: $line-height / 2;

    @include breakpoint-max(md) {
      @include font(p);
      padding: ($line-height / 2);
    }
  }

  span.current {
    margin-right: 0;
    background: main-colors(main, bg-alt);
    color: main-colors(main, body-alt) !important;
    box-shadow: $button-shadow;
  }

  a {
    margin-right: 0;


    &:hover {
      background: main-colors(main, bg-alt);
      color: main-colors(main, body-alt) !important;
      box-shadow: $button-shadow;
    }
  }

  @at-root #page #{&} a {
    text-decoration: none;
  }
}

.has-shadow .entry_frame {
  box-shadow: none;
}

.image_frame img {
  border: 0;
}

.entry_frame {
  border: 0;
}
