//*==========================================================================*//
//*                                                                          *//
//*                         LISTATI 1 COLONNA
//*                                                                          *//
//*==========================================================================*//
//****************************************************************************//
//                         CONTENITORE
//****************************************************************************//
.entry {
  margin-bottom: $line-height * 3;
}




//****************************************************************************//
//                        FEATURED HEADER
//****************************************************************************//
/*
 * Feat Header Categorie
 */
.category-reviews #feature,
.category-critica #feature {
  background-image: url(http://nuovocaneuva.langhe.net/files/2016/07/DSC_11670.jpg);
  background-position: bottom center;
}

.category-news #feature,
.category-news-en #feature {
  background-image: url(http://nuovocaneuva.langhe.net/files/2016/07/DSC1905.jpg);
  background-position: bottom center;
}




//****************************************************************************//
//                         IMMAGINI LISTATI
//****************************************************************************//

/*
 * Ombra immagine listati
 */
.category.has-shadow .image_shadow_wrap::before,
.category.has-shadow .image_shadow_wrap::after {
  content: none;
}


/*
 * Decorazione immagini listati
 */
.image_frame {
  border-bottom: 10px solid;
  border-bottom-color: palette(main, accent)
}

// loop per tutte le sezioni
@each $palette, $bg in $colors {
  .category .#{$palette}.image_frame {
    border-bottom: 10px solid;
    border-bottom-color: palette($palette, accent)
  }
}

// Resetto bordo originale
.image_frame img {
  border-top: 0;
  border-bottom: 0;
}




//****************************************************************************//
//                          TITOLO e META
//****************************************************************************//
.entry_info .entry-title {
  @include size(h3);
  @include deco(h3);
  margin-bottom: font(h3, lh) / 2;
  margin-top: font(h3, lh) / 2;

  margin-top: 0;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

#page .entry .entry_title a,
#page .entry .entry_title a:visited {
  color: palette(main, heading2);
}

.entry .entry_meta {
  @include size(h5);
  @include deco(h5);

  font-style: italic;
  border: none;
  width: 92%;
  margin: 0 auto;
  margin-bottom: font(h5, lh) / 2;
  margin-top: font(h5, lh) / 2;
  text-transform: uppercase;
  color: palette(main, heading3);

  @at-root #page #{&} a,
           #page #{&} a:visited {
    color: palette(main, heading3);
  }
}

#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {
  color: inherit;
}


//****************************************************************************//
//                         EXCERPT e READ MORE
//****************************************************************************//
.entry_content {
  width: 92%;
  margin-left: auto;
  margin-right: auto;

  p {
    margin-bottom: 0;
  }
}
