//*==========================================================================*//
//*                                                                          *//
//*                       POST SINGOLO - BIG IMAGE
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//
//****************************************************************************//
//*                     TITOLO - FEATURED
//****************************************************************************//
/*
 * Titolo

.type-post #feature h1 {
  @include font(h2);

  margin-top: 0;

  @include breakpoint-max(sm) {
    @include m-size(h2);
  }
}*/


/*
 * Meta
 */
.type-post .feature-introduce {
  @include font(h5, $mt: 0);

  text-transform: uppercase;

  //font-family: font(h5,fm);
}




//****************************************************************************//
//*                    CONTENITORE
//****************************************************************************//
.entry.content {
  margin-bottom: $line-height * 3;
}




//****************************************************************************//
//              Authro Box
//****************************************************************************//
#about_the_author {
  padding: ($line-height * 2) ($line-height * 2) ($line-height * 2) $line-height;
  margin-bottom: ($line-height * 2);

  h3 {

  }

  .author_content {
    padding: 0;
    border: 0;
  }

  span.fn {

    a {
      text-decoration: none;
    }
  }

  .author_desc {
  }

  @include breakpoint-max(xs) {
  padding: $line-height;
  margin-left: -$line-height;
  margin-right: -$line-height;

    .author_desc {
      @include font(small, $mt:0);
    }
  }
}

//****************************************************************************//
//              ARTICOLI CORRELATI
//****************************************************************************//
///
// RESETS
///
#main .related_popular_wrap ul.posts_list {
  margin-left: 0;
  padding-left: 0;

  li {
    list-style: none;
  }
}

///
// LISTA
///
.related_popular_wrap {


  h3 {

  }

  .posts_list {

    @at-root #page #{&} a {
      text-decoration: none;
    }

    li {
    }

    time {
    }
  }
}

//****************************************************************************//
//                            FORM COMMENTO
//                  I campi sono racchiusi nei P
//****************************************************************************//
.comment-form {

  p { //adeguo il margine sotto per pareggiare altezza campo
  }

  p.comment-notes { //correggo l'adeguamento sul primo p - che contiene del testo
  }
}


/*
 * Bottone
 */
#commentform input#submit {
  @extend %button;
  @include button(p);
  @include button-color(main);

  height: auto;
}
