
//****************************************************************************//
//*                                                                          *//
//*                  I MIXIN - FUNZIONI CHE COMPONGONO COSE
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//



//****************************************************************************//
//                            MIXIN TIPOGRAFICI
//****************************************************************************//
@mixin body-size {
  font-size:$font-size;
  line-height:$line-height;
}

@mixin body-margin {
  margin-top:$margin-top;
  margin-bottom:$margin-bottom;
}

@mixin body-decoration {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}


///
// Dimensioni Titoli
///
@mixin h1-size {
  font-size:$h1-font-size;
  line-height:$h1-line-height;
  margin-top:$h1-margin-top;
  margin-bottom:$h1-margin-bottom;
}

@mixin h2-size {
  font-size:$h2-font-size;
  line-height:$h2-line-height;
  margin-top:$h2-margin-top;
  margin-bottom:$h2-margin-bottom;
}

@mixin h3-size {
  font-size:$h3-font-size;
  line-height:$h3-line-height;
  margin-top:$h3-margin-top;
  margin-bottom:$h3-margin-bottom;
}

@mixin h4-size {
  font-size:$h4-font-size;
  line-height:$h4-line-height;
  margin-top:$h4-margin-top;
  margin-bottom:$h4-margin-bottom;
}

@mixin h5-size {
  font-size:$h5-font-size;
  line-height:$h5-line-height;
  margin-top:$h5-margin-top;
  margin-bottom:$h5-margin-bottom;
}



///
// Decorazioni Headings
///
@mixin heading-decoration {
  font-family: $base-font-family; //TODO
  font-weight:400; //TODO
  text-transform:uppercase; //TODO
}

///
// HR
///
@mixin hr-spacing {
  border:$hr-spacing;
  margin:-$hr-spacing 0;
}

//****************************************************************************//
//                                    BOTTONI
//                   il padding va a compensare per i bordi
//              il valore del padding deve essere pari alla metà di
//                (interlinea meno la somma dei bordi sup e inf)
//****************************************************************************//

///
// Base dei bottoni: display, font-family e ombre
///
@mixin button {
  display:inline-block;
  font-family: $base-font-family;
  white-space: normal;
  border-style:solid;
  -webkit-box-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
     -moz-box-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
}


///
// Bottoni Piccoli
///
@mixin button-small {
  $border-width: 2;
  $padding: border-pad($b-width: $border-width, $b-font-size: $h5-font-size, $b-line-height: $h5-line-height);
  font-weight: 400; //TODO

  font-size: $h5-font-size;
  line-height: $h5-line-height;

  margin-top: $h5-margin-top;
  margin-bottom: $h5-margin-bottom;

  padding: .0715em 1.5em; //TODO

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
}


///
// Bottoni Medi - come p - 1.5 con bordo sotto la metà
///
@mixin button-medium {
  $border-width: 2;
  $padding: border-pad($b-width: $border-width) ;
  font-weight: 600; //TODO
  font-size: 1em;
  line-height: $line-height;

  margin-top: $line-height;
  margin-bottom: $line-height;

  padding-top: $padding;
  padding-bottom: $padding;
  padding-right:1.5em;
  padding-left:1.5em;

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
  letter-spacing: 0.5px; //TODO
}


///
// Bottoni Grandi
///
@mixin button-large {
  $border-width: 4;
  $padding: border-pad($b-width: $border-width, $b-font-size: $h3-font-size, $b-line-height: $h3-line-height);
  font-weight: 600; //TODO
  font-size: $h3-font-size;
  line-height: $h3-line-height;

  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;

  padding-top: $padding / 2.3333;
  padding-bottom: $padding / 2.3333;
  padding-right:1.5em;
  padding-left:1.5em;

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
  letter-spacing: 0.5px; //TODO
}


///
// Bottoni Extra-Grandi
///
@mixin button-x-large {
  $border-width: 6;
  $padding: border-pad($b-width: $border-width, $b-font-size: $h2-font-size, $b-line-height: $h2-line-height);
  font-weight: 600; //TODO
  font-size: $h2-font-size;
  line-height: $h2-line-height;

  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;

  padding-top: $padding;
  padding-bottom: $padding;
  padding-right:1.5em;
  padding-left:1.5em;

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
  letter-spacing: 0.5px; //TODO
}

//****************************************************************************//
//                            MEDIA QUERIES
//****************************************************************************//
@mixin respond-to($media) {
  @if $media == step-1 {
    @media only screen and (max-width: $s-desktop) { @content; }
  }
  @else if $media == step-2 {
    @media only screen and (max-width: $l-tablet) { @content; }
  }
  @else if $media == step-3 {
    @media only screen and (max-width: $p-tablet) { @content; }
  }
  @else if $media == step-4 {
    @media only screen and (max-width: $l-phone) { @content; }
  }
  @else if $media == step-5 {
    @media only screen and (max-width: $p-phone) { @content; }
  }
  @else if $media == step-0 {
    @media only screen and (max-width: $website-width) { @content; }
  }
  @else if $media == step-p1 {
    @media only screen and (min-width: $u-hd) { @content; }
  }
}

//****************************************************************************//
//                            DECORAZIONI
//****************************************************************************//
///
// Overlay di colore da mettere sui ::before
///
  @mixin color-overlay($bg-color: $overlay-bgcolor) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background: $bg-color;
    //height: 73.2%; //TODL
  }
