
//****************************************************************************//
//*                                                                          *//
//*                  I MIXIN - FUNZIONI CHE COMPONGONO COSE
//*                 descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//



//****************************************************************************//
//                            MIXIN TIPOGRAFICI
//****************************************************************************//
@mixin body-size {
  font-size:$font-size;
  line-height:$line-height;
}

@mixin body-margin {
  margin-top:$margin-top;
  margin-bottom:$margin-bottom;
}

@mixin body-decoration {
  font-family: $font-family;
  font-weight: $font-weight;
}


///
// Dimensioni Titoli //TOCR - usare una variabile per richiamare il mixin in modo da non dover scrivere 5 mixin diversi
///
@mixin h1-size {
  font-size:$h1-font-size;
  line-height:$h1-line-height;
  margin-top:$h1-margin-top;
  margin-bottom:$h1-margin-bottom;
}

@mixin h2-size {
  font-size:$h2-font-size;
  line-height:$h2-line-height;
  margin-top:$h2-margin-top;
  margin-bottom:$h2-margin-bottom;
}

@mixin h3-size {
  font-size:$h3-font-size;
  line-height:$h3-line-height;
  margin-top:$h3-margin-top;
  margin-bottom:$h3-margin-bottom;
}

@mixin h4-size {
  font-size:$h4-font-size;
  line-height:$h4-line-height;
  margin-top:$h4-margin-top;
  margin-bottom:$h4-margin-bottom;
}

@mixin h5-size {
  font-size:$h5-font-size;
  line-height:$h5-line-height;
  margin-top:$h5-margin-top;
  margin-bottom:$h5-margin-bottom;
}


///
// Decorazioni Headings
///
@mixin heading-decoration {
  font-family: $font-family; //TODO //TOCR
  font-weight:400; //TODO //TOCR
  text-transform:uppercase; //TODO //TOCR
}


///
// HR
///
@mixin hr-spacing {
  border:$hr-spacing;
  margin:-$hr-spacing 0;
}



//****************************************************************************//
//                                    BOTTONI
//                   il padding va a compensare per i bordi
//              il valore del padding deve essere pari alla metà di
//                (interlinea meno la somma dei bordi sup e inf)
//****************************************************************************//

///
// Base dei bottoni: display, font-family e ombre
///
%button {
  display:inline-block;
  font-family: $button-font-family;
  white-space: normal;
  border-style: solid;
  -webkit-box-shadow: $button-shadow;
     -moz-box-shadow: $button-shadow;
          box-shadow: $button-shadow;
}


///
// Bottoni Piccoli
///
@mixin button-small {
  $border-width: 2;

  font-weight: 400; //TODO //TOCR
  font-size: $h5-font-size;
  line-height: $h5-line-height;

  margin-top: $h5-margin-top;
  margin-bottom: $h5-margin-bottom;

  padding: border-pad($b-width: $border-width, $b-font-size: $h5-font-size, $b-line-height: $h5-line-height) 1.5em; //TODO padding orizzontale.. da settare altrove?

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
}


///
// Bottoni Medi - come p - 1.5 con bordo sotto la metà
///
@mixin button-medium {
  $border-width: 2;

  font-weight: 600; //TODO //TOCR
  font-size: 1em;
  line-height: $line-height;
  @include body-margin;

  padding-top: border-pad($b-width: $border-width);
  padding-bottom: border-pad($b-width: $border-width);
  padding-right: 1.5em; //TODO padding orizzontale.. da settare altrove?
  padding-left: 1.5em; //TODO padding orizzontale.. da settare altrove?

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
  letter-spacing: 0.5px; //TODO
}


///
// Bottoni Grandi
///
@mixin button-large {
  $border-width: 4;

  font-weight: 600; //TODO //TOCR
  font-size: $h3-font-size;
  line-height: $h3-line-height;

  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;

  padding-top: border-halfpad($b-width: $border-width, $b-font-size: $h3-font-size, $b-line-height: $h3-line-height);
  padding-bottom: border-halfpad($b-width: $border-width, $b-font-size: $h3-font-size, $b-line-height: $h3-line-height);
  padding-right: 1.5em; //TODO padding orizzontale.. da settare altrove?
  padding-left: 1.5em; //TODO padding orizzontale.. da settare altrove?

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
  letter-spacing: 0.5px; //TODO //TOCR ?
}


///
// Bottoni Extra-Grandi
///
@mixin button-x-large {
  $border-width: 6;

  font-weight: 600; //TODO //TOCR
  font-size: $h2-font-size;
  line-height: $h2-line-height;

  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;

  padding-top: border-pad($b-width: $border-width, $b-font-size: $h2-font-size, $b-line-height: $h2-line-height);
  padding-bottom: border-pad($b-width: $border-width, $b-font-size: $h2-font-size, $b-line-height: $h2-line-height);
  padding-right: 1.5em; //TODO padding orizzontale.. da settare altrove?
  padding-left: 1.5em; //TODO padding orizzontale.. da settare altrove?

  border-bottom-width: $border-width * 1px;
  border-top-width: $border-width * 1px;
  letter-spacing: 0.5px; //TODO //TOCR
}

//****************************************************************************//
//                                    COLORI BOTTONI
//
//****************************************************************************//

@mixin button-color($state:none) {

  @if $state == hover {
    background: darken(palette($palette, bg-button), 5%);
    color: palette($palette, button);
    border-color: palette($palette, bg-button);
    border-bottom-color: darken(palette($palette, bg-button), 10%);
  }

  @else {
    background: palette($palette, bg-button);
    color: palette($palette, button);
    border-color: palette($palette, bg-button);
    border-bottom-color: darken(palette($palette, bg-button), 10%);
    opacity: 1;
  }
}



//****************************************************************************//
//                                    FORMS
//****************************************************************************//

///
// Form Field size settings
///
@mixin form-field {
  font-family: $form-font-family;
  font-size: $form-font-size;
  $f-line-height: border-pad(1);
  line-height: $f-line-height*2;
  margin-bottom: $line-height;
  margin-top: 0;
  padding: 0;
}

///
// Forms Labels size settings
///
@mixin form-label {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-weight: $font-weight;
  text-transform: none; //TODO //TOCR
  letter-spacing: 0px;
}

///
// Forms Field Descritpions
///
@mixin form-desc {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  font-style: none;
  margin:0;
  padding: ($h5-line-height / 2) 0!important;
  font-weight: $font-weight;
  text-transform: none; //TODO //TOCR
  letter-spacing: 0;
}


//****************************************************************************//
//                            MEDIA QUERIES
//****************************************************************************//
@mixin respond-to($media) {
  @if $media == step-1 {
    @media only screen and (max-width: $s-desktop) { @content; }
  }
  @else if $media == step-2 {
    @media only screen and (max-width: $l-tablet) { @content; }
  }
  @else if $media == step-3 {
    @media only screen and (max-width: $p-tablet) { @content; }
  }
  @else if $media == step-4 {
    @media only screen and (max-width: $l-phone) { @content; }
  }
  @else if $media == step-5 {
    @media only screen and (max-width: $p-phone) { @content; }
  }
  @else if $media == step-0 {
    @media only screen and (max-width: $website-width) { @content; }
  }
  @else if $media == step-p1 {
    @media only screen and (min-width: $u-hd) { @content; }
  }
}



//****************************************************************************//
//                            DECORAZIONI
//****************************************************************************//

///
// Overlay di colore da mettere sui ::before //TOCR
///
  @mixin color-overlay($bg-color: palette(main, overlay)) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background: $bg-color;
    //height: 73.2%; //TODL
  }
