//***********************************************************************//
//*                                                                     *//
//*                   TUTTE LE VARIABILI DEL PROGETTO
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//



//***********************************************************************//
//                            TIPOGRAFIA - DIMENSIONI
//***********************************************************************//

/*
 * BASE DEL BODY
 */
$font-size:1.125em; //TODO
$line-height: 1.7777777777777777em; //TODO

/*
 * p and other standard elements
 */
$margin-top:0em; //TODO
$margin-bottom:1.7777777777777777em; //TODO

$double-line:$line-height * 2;
$half-line:$line-height / 2;


/*
 * HEADING
 */
 $h1-font-size: 6.333333333333333em; //TODO
 $h1-line-height: 1.1228070175438596em; //TODO
 $h1-margin-top: 0.2807017543859649em; //TODO
 $h1-margin-bottom: 0em; //TODO

 $h2-font-size: 3.4444444444444446em; //TODO
 $h2-line-height: 1.032258064516129em; //TODO
 $h2-margin-top: 0.5161290322580645em; //TODO
 $h2-margin-bottom: 0.5161290322580645em; //TODO

 $h3-font-size: 1.8333333333333333em; //TODO
 $h3-line-height: 1.9393939393939394em; //TODO
 $h3-margin-top: 0.9696969696969697em; //TODO
 $h3-margin-bottom: 0em; //TODO

 $h4-font-size: 1em; //TODO
 $h4-line-height: 1.7777777777777777em; //TODO
 $h4-margin-top: 1.7777777777777777em; //TODO
 $h4-margin-bottom: 0em; //TODO

 $h5-font-size: 0.7777em; //TODO
 $h5-line-height: 1.9285714em; //TODO
 $h5-margin-top: 1.9285714em; //TODO
 $h5-margin-bottom: 0em; //TODO

 /*
  * DETTAGLI
  */
  $sup-top:-0.5em; //TODO
  $sub-bottom:-0.25em; //TODO
  $hr-spacing:1px; //TODO

  //***********************************************************************//
  //                            TIPOGRAFIA - DECORAZIONI
  //***********************************************************************//
  $base-font-family:'Muli', sans-serif; //TODO
  $base-font-weight:400; //TODO

  $secondary-font-family:'Lora', serif; //TODO


  //***********************************************************************//
  //                           LAYOUT - SPAZIATURE
  //***********************************************************************//
$block-v-space:$line-height*2; //TODO


//***********************************************************************//
//                           COLORI
//***********************************************************************//
$main-base-color:;
$main-bg-color:;
$main-acc-color:;
$main-border-color:;
