//*==========================================================================*//
//*                                                                          *//
//*                   TUTTE LE VARIABILI DEL PROGETTO
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//*==========================================================================*//


//***********************************************************************//
//             LARGHEZZA LAYOUT & BREAKPOINT MEDIA QUERIES
//***********************************************************************//
$website-width: 1170px; //TODO

$u-hd:1981px; //step-p1

$s-desktop: $website-width - 1px; // step-1
$l-tablet: 989px; // step-2
$p-tablet: 767px; // step-3
$l-phone: 567px; // step-4
$p-phone: 479px; // step-5
$s-phone: 320px; // step-6


//***********************************************************************//
//                            TIPOGRAFIA - DIMENSIONI
//***********************************************************************//


$font-family: 'Muli', sans-serif; //TODO
$font-family-heading: $font-family; //TODO
$font-family-special: 'Lora', serif; //TODO


$weights: (
  ff: (
    family: $font-family,
    lighter: 100,
    light: 200,
    normal: 400,
    ),
  ffh: (
    family: $font-family-heading,
    lighter: 100,
    light: 200,
    normal: 400,
    ),
  ffs: (
    family: $font-family-special,
    lighter: 100,
    light: 200,
    normal: 400,
    ),
  );

///
// BASE DEL BODY
///
  $base:16;
  $font-size: 1.125em; //TODO
  $line-height: 1.7777777777777777em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 1.7777777777777777em; //TODO


////
// HEADING
////
  $font-sizes: (

    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 6.333333333333333em,
      lh: 1.1228070175438596em,
      mt: 0.2807017543859649em,
      mb: 0em,
      ),

    h2: (
      fs: 3.4444444444444446em,
      lh: 1.032258064516129em,
      mt: 0.5161290322580645em,
      mb: 0.5161290322580645em,
      ),

    h3: (
      fs: 1.8333333333333333em,
      lh: 1.9393939393939394em,
      mt: 0.9696969696969697em,
      mb: 0em,
      ),

    h4: (
      fs: 1em,
      lh: 1.7777777777777777em,
      mt: 1.7777777777777777em,
      mb: 0em,
      ),

    h5: (
      fs: 0.7777777777778em,
      lh: 1.142857142857em,
      mt: 1.9285714em,
      mb: 0em,
      )
);


////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                            TIPOGRAFIA - DECORAZIONI
//****************************************************************************//


$font-decoration: (
  p: (
    family: $font-family, //TODO
    weight: 400, //TODO
  ),

  h1: (
    family: $font-family, //TODO
    weight: 400, //TODO
  ),

  h2: (
    family: $font-family, //TODO
    weight: $font-family, //TODO
    ),

  h3: (
    family: $font-family, //TODO
    weight: null, //TODO
  ),

  h4: (
    family: $font-family, //TODO
    weight: null, //TODO
  ),

  blockquote: (
    family: $font-family-special, //TODO
    weight: null, //TODO
  ),

  small: (
    familY: $font-family, //TODO
    weight: 300, //TODO
  )
);


//****************************************************************************//
//                            BOTTONI
//****************************************************************************//
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);

$button-decoration: (
  small: (
    family: null,
    weight: null,
  ),

  medium: (
    family: null,
    weight: null,
  ),

  large: (
    family: null,
    weight: null,
  ),

  x-large: (
    family: null,
    weight: null,
  ),
);

$font-weight: 300; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    family: $font-family,
    weight: 300,
  ),

  label: (
    family: $font-family,
    weight: 300,
  ),

  desc: (
    family: $font-family,
    weight: 300,
  ),
);


//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
//SETUP COLORE //TODO
///
  $tortora: #c7bdb1;
  $arancio: #db8947;
  $grigio-scuro: #616266;
  $grigio-chiaro: #ededeb;
  $bianco-1: #f7f5f3;
  $bianco-2: #fdfdf9;
  $verde: #8BC34A;

///
// SEZIONI COLORI - //TODO Solo per progetti grossi o NO?
///



  $colors: (
    header: (
      body:       $grigio-scuro,      //colore corpo
      heading:    $bianco-2,          //colore titoli
      link:       $bianco-2,          //Colore link
      bg:         $tortora,           //Colore sfondo principale

      accent:     $arancio,           //Colore accento //TOCHK

      border:     $grigio-scuro,      //Colore Bordi

      body-alt:   $grigio-scuro,      //colore body alternativo
      bg-alt:     $grigio-chiaro,     //Colore sfondo alternativo
      overlay:    rgba($grigio-scuro, 0.25), //Colore overlay

      button:     $bianco-2,
      button-bg:  $arancio

    ),

    main: (
      body:       $grigio-scuro,
      heading:    $tortora,
      link:       $arancio,
      bg:         $bianco-2,

      accent:     $arancio,

      border:     $tortora,

      body-alt:   $grigio-scuro, // colore form e box
      bg-alt:     $tortora, // BG form e box
      overlay:    rgba($grigio-scuro, 0.25),

      button:     $bianco-2,
      button-bg:  $grigio-scuro,
    ),

    alternate: (
      body:       $grigio-scuro,
      heading:    $grigio-scuro,
      link:       $arancio,
      bg:         $bianco-1,

      accent:     $arancio,
      border:     $tortora,
      bg-alt:     $bianco-2,
      overlay:    rgba($grigio-scuro, 0.25),
      button:     $bianco-2,
      button-bg:  $arancio
    ),

    socket: (
      body:       $bianco-2,
      heading:    $bianco-2,
      link:       $bianco-2,
      bg:         $arancio,

      accent:     $bianco-2,
      border:     $bianco-2,

      body-alt:   $grigio-scuro, // colore form e box
      bg-alt:     rgba(white,0.75),
      overlay:    rgba($grigio-scuro, 0.25),

      button:     $bianco-2,
      button-bg:  $grigio-scuro
    ),

    footer: (
      body:       $grigio-scuro,
      heading:    $grigio-scuro,
      link:       $grigio-scuro,
      bg:         $grigio-chiaro,

      accent:     $arancio,
      border:     $grigio-scuro,
      bg-alt:     $bianco-1,
      overlay:    rgba($grigio-scuro, 0.25),

      button:     $bianco-2,
      button-bg:  $arancio
    )
  );
